PS Request Fulfiller v12 Photopea MVP (in development).json
{
  "name": "PS Request Fulfiller v12 Photopea MVP (in development)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "PS Request Fulfiller v12",
        "formDescription": "Paste a Reddit PhotoshopRequest URL",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Reddit URL",
              "placeholder": "https://www.reddit.com/r/PhotoshopRequest/comments/...",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        16,
        -112
      ],
      "id": "3c162004-7b0e-4442-9de7-c2b22eb2a068",
      "name": "Paste URL",
      "webhookId": "320578aa-8d0e-47ba-a6ca-ac4e02207a12"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst http = require('http');\nconst fs = require('fs');\nconst path = require('path');\nconst crypto = require('crypto');\n\nconst redditUrl = $input.first().json['Reddit URL'];\nconst sourceDir = 'D:\\\\Reddit PS automation\\\\Source images';\n\nif (!fs.existsSync(sourceDir)) fs.mkdirSync(sourceDir, { recursive: true });\n\nfunction httpGet(url, headers = {}) {\n  return new Promise((resolve, reject) => {\n    const mod = url.startsWith('https') ? https : http;\n    const opts = {\n      headers: { 'User-Agent': 'n8n-ps-fulfiller/2.0', ...headers },\n      timeout: 30000\n    };\n    mod.get(url, opts, (res) => {\n      if ([301,302,303,307,308].includes(res.statusCode)) {\n        return httpGet(res.headers.location, headers).then(resolve).catch(reject);\n      }\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => resolve({ status: res.statusCode, data: Buffer.concat(chunks), headers: res.headers }));\n      res.on('error', reject);\n    }).on('error', reject).on('timeout', () => reject(new Error('Timeout')));\n  });\n}\n\nfunction uploadToCatbox(buffer, format) {\n  return new Promise((resolve, reject) => {\n    const boundary = '----CatboxBoundary' + crypto.randomBytes(8).toString('hex');\n    const ext = format || 'png';\n    const mime = ext === 'jpg' || ext === 'jpeg' ? 'image/jpeg' : ext === 'webp' ? 'image/webp' : 'image/png';\n    const header = `--${boundary}\\r\\nContent-Disposition: form-data; name=\"reqtype\"\\r\\n\\r\\nfileupload\\r\\n` +\n      `--${boundary}\\r\\nContent-Disposition: form-data; name=\"time\"\\r\\n\\r\\n1h\\r\\n` +\n      `--${boundary}\\r\\nContent-Disposition: form-data; name=\"fileToUpload\"; filename=\"source.${ext}\"\\r\\nContent-Type: ${mime}\\r\\n\\r\\n`;\n    const footer = `\\r\\n--${boundary}--\\r\\n`;\n    const headerBuf = Buffer.from(header);\n    const footerBuf = Buffer.from(footer);\n    const body = Buffer.concat([headerBuf, buffer, footerBuf]);\n    const req = https.request({\n      hostname: 'litterbox.catbox.moe',\n      path: '/resources/internals/api.php',\n      method: 'POST',\n      headers: {\n        'Content-Type': `multipart/form-data; boundary=${boundary}`,\n        'Content-Length': body.length\n      },\n      timeout: 60000\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const url = Buffer.concat(chunks).toString().trim();\n        if (url.startsWith('https://')) { resolve(url); }\n        else { reject(new Error('Catbox upload failed: ' + url.slice(0, 200))); }\n      });\n      res.on('error', reject);\n    });\n    req.on('error', reject);\n    req.on('timeout', () => { req.destroy(); reject(new Error('Catbox upload timeout')); });\n    req.write(body);\n    req.end();\n  });\n}\n\nlet postId = '';\nconst match = redditUrl.match(/comments\\/([a-z0-9]+)/i);\nif (match) postId = match[1];\nif (!postId) throw new Error('Cannot extract post ID from URL: ' + redditUrl);\n\nconst jsonUrl = `https://www.reddit.com/r/PhotoshopRequest/comments/${postId}.json`;\nconst jsonResp = await httpGet(jsonUrl);\nconst jsonText = jsonResp.data.toString();\n\nif (jsonText.startsWith('<!') || jsonText.startsWith('<html')) {\n  throw new Error('Reddit returned HTML instead of JSON. Wait 30s and retry. URL: ' + jsonUrl);\n}\n\nconst redditData = JSON.parse(jsonText);\nconst post = redditData[0].data.children[0].data;\n\nconst title = post.title || '';\nconst bodyText = post.selftext || '';\nconst flair = post.link_flair_text || '';\nconst datePosted = new Date(post.created_utc * 1000).toISOString();\n\nlet price = '';\nconst priceMatch = (title + ' ' + bodyText).match(/\\$\\s*(\\d+(?:\\.\\d{2})?)/)\n  || (title + ' ' + bodyText).match(/(\\d+)\\s*(?:USD|usd|dollars?|\\u20ac|euros?|\\u00a3|pounds?)/i);\nif (priceMatch) price = '$' + priceMatch[1];\n\nlet imageUrls = [];\n\nif (post.gallery_data && post.media_metadata) {\n  const items = post.gallery_data.items || [];\n  for (const item of items) {\n    const mediaId = item.media_id;\n    const meta = post.media_metadata[mediaId];\n    if (meta && meta.s) {\n      let url = meta.s.u || meta.s.gif || '';\n      url = url.replace(/&amp;/g, '&');\n      url = url.replace(/preview\\.redd\\.it/, 'i.redd.it').split('?')[0];\n      if (url) imageUrls.push(url);\n    }\n  }\n}\n\nif (imageUrls.length === 0 && post.url) {\n  let url = post.url;\n  if (url.match(/\\.(jpg|jpeg|png|gif|webp)/i)) {\n    url = url.replace(/preview\\.redd\\.it/, 'i.redd.it').split('?')[0];\n    imageUrls.push(url);\n  }\n}\n\nif (imageUrls.length === 0 && post.preview && post.preview.images) {\n  for (const img of post.preview.images) {\n    let url = (img.source && img.source.url) || '';\n    url = url.replace(/&amp;/g, '&').replace(/preview\\.redd\\.it/, 'i.redd.it').split('?')[0];\n    if (url) imageUrls.push(url);\n  }\n}\n\nif (imageUrls.length === 0) {\n  throw new Error('NO IMAGES FOUND in post: ' + title);\n}\n\nconst uid = crypto.randomBytes(3).toString('hex');\nconst savedFiles = [];\nconst publicUrls = [];\nlet origWidth = 0, origHeight = 0;\nconst allImageMeta = [];\n\nfor (let i = 0; i < imageUrls.length; i++) {\n  try {\n    const resp = await httpGet(imageUrls[i], { 'Accept': 'image/png,image/*' });\n    if (resp.data.length < 1000) continue;\n    const ext = imageUrls[i].match(/\\.(jpg|jpeg|png|gif|webp)/i);\n    const extension = ext ? ext[1] : 'jpg';\n    const filename = `${postId}_${uid}_${i+1}.${extension}`;\n    const filepath = path.join(sourceDir, filename);\n    fs.writeFileSync(filepath, resp.data);\n    savedFiles.push(filename);\n    // Upload saved image to catbox so we have a reliable public URL\n    // (i.redd.it URLs can become inaccessible later)\n    try {\n      const catboxUrl = await uploadToCatbox(resp.data, extension);\n      publicUrls.push(catboxUrl);\n    } catch(e) {\n      // Fallback to original URL if catbox upload fails\n      publicUrls.push(imageUrls[i]);\n    }\n    // Capture dimensions for EVERY source image, not just the first\n    try {\n      const sharp = require('sharp');\n      const meta = await sharp(resp.data).metadata();\n      const w = meta.width || 0;\n      const h = meta.height || 0;\n      allImageMeta.push({ index: i + 1, width: w, height: h, sourceKey: 'source_' + (i + 1) });\n      if (i === 0) { origWidth = w; origHeight = h; }\n    } catch(e) {\n      allImageMeta.push({ index: i + 1, width: 0, height: 0, sourceKey: 'source_' + (i + 1) });\n    }\n  } catch(e) { /* image download failed, skip this image */ }\n}\n\nif (savedFiles.length === 0) {\n  throw new Error('ALL IMAGE DOWNLOADS FAILED for post: ' + title);\n}\n\nreturn [{\n  json: {\n    postId, title, bodyText, flair, price, datePosted,\n    imageCount: imageUrls.length,\n    sourceFiles: savedFiles.join(', '),\n    sourceUrls: publicUrls,\n    originalRedditUrls: imageUrls,\n    postUrl: `https://www.reddit.com/r/PhotoshopRequest/comments/${postId}/`,\n    origWidth, origHeight,\n    allImageMeta,\n    startTime: Date.now(),\n    requestId: postId + '_' + Date.now().toString(36) + '_' + Math.random().toString(36).substring(2, 6),\n    dateCollected: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -112
      ],
      "id": "2f862ecd-d112-4915-96c0-5d6750bb800c",
      "name": "Download & Extract",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst postData = $input.first().json;\nconst requestDir = path.join('D:\\\\Reddit PS automation\\\\requests', postData.requestId || postData.postId);\nconst intermediateDir = path.join(requestDir, 'intermediate');\nconst referencesDir = path.join(requestDir, 'references');\n\nif (!fs.existsSync(requestDir)) fs.mkdirSync(requestDir, { recursive: true });\nif (!fs.existsSync(intermediateDir)) fs.mkdirSync(intermediateDir, { recursive: true });\nif (!fs.existsSync(referencesDir)) fs.mkdirSync(referencesDir, { recursive: true });\n\nfs.writeFileSync(path.join(requestDir, 'request.json'), JSON.stringify({\n  requestId: postData.requestId,\n  postId: postData.postId,\n  title: postData.title,\n  bodyText: postData.bodyText,\n  flair: postData.flair,\n  price: postData.price,\n  postUrl: postData.postUrl,\n  datePosted: postData.datePosted,\n  imageCount: postData.imageCount,\n  sourceUrls: postData.sourceUrls,\n  dateCollected: postData.dateCollected\n}, null, 2));\n\nconst sourceDir = 'D:\\\\Reddit PS automation\\\\Source images';\nconst savedFiles = postData.sourceFiles.split(', ');\nfor (let i = 0; i < savedFiles.length; i++) {\n  try {\n    const srcPath = path.join(sourceDir, savedFiles[i]);\n    if (fs.existsSync(srcPath)) {\n      const ext = path.extname(savedFiles[i]);\n      fs.copyFileSync(srcPath, path.join(requestDir, `source_${i + 1}${ext}`));\n    }\n  } catch(e) { /* non-blocking: source file copy failed for \" + savedFiles[i] + \": \" + e.message */ }\n}\n\nreturn [{ json: { ...postData, requestDir } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -112
      ],
      "id": "45649a26-754b-452a-adfc-4f97a839cde3",
      "name": "Create Request Folder"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst postData = $input.first().json;\nconst warnings = [];\n\nlet masterSkill = '';\nlet categorySkill = '';\n\ntry {\n  masterSkill = fs.readFileSync('D:\\\\Reddit PS automation\\\\n8n-assets\\\\skills\\\\photoshop_editing.md', 'utf8');\n} catch(e) {\n  warnings.push('WARN: Master skill file not found: ' + e.message);\n}\n\nconst text = ((postData.title || '') + ' ' + (postData.bodyText || '')).toLowerCase();\nlet detectedCategory = 'general';\n// Priority: face/body/feature edits FIRST (even if 'swap' or 'combine' also appears)\nif (/fix.*eye|open.*eye|close.*eye|blink|fix.*face|close.*mouth|smile|expression|body.*fix|eyebrow|open her eye|open his eye|fix.*blink/.test(text)) detectedCategory = 'face_body_fix';\nelse if (/remove|delete|get rid|take out|erase|unwanted/.test(text)) detectedCategory = 'removal';\nelse if (/restore|old photo|damaged|torn|colorize|color this|faded/.test(text)) detectedCategory = 'restoration';\nelse if (/combine|swap|head swap|face swap|put .* into|composite|merge/.test(text)) detectedCategory = 'combine_swap';\nelse if (/background|change.*back|replace.*back|new.*back/.test(text)) detectedCategory = 'background';\nelse if (/color|lighting|bright|contrast|tone|hue|saturat|exposure|white.?balance/.test(text)) detectedCategory = 'color_adjust';\nelse if (/text|font|logo|writing|caption|words|letter|sign/.test(text)) detectedCategory = 'text_logo';\nelse if (/meme|cartoon|style|fun|creative|anime|painting|draw|sketch/.test(text)) detectedCategory = 'creative';\n\ntry {\n  categorySkill = fs.readFileSync(`D:\\\\Reddit PS automation\\\\n8n-assets\\\\skills\\\\categories\\\\${detectedCategory}.md`, 'utf8');\n} catch(e) {\n  // Try direct-file fallbacks for critical categories\n  const fallbacks = { 'combine_swap': 'combine_swap.md', 'face_body_fix': 'face_body_fix.md' };\n  const fallbackFile = fallbacks[detectedCategory];\n  if (fallbackFile) {\n    try {\n      categorySkill = fs.readFileSync('D:\\\\Reddit PS automation\\\\n8n-assets\\\\skills\\\\categories\\\\' + fallbackFile, 'utf8');\n      warnings.push('INFO: Category skill loaded via direct fallback: ' + fallbackFile);\n    } catch(e2) {\n      warnings.push('WARN: Category skill (' + detectedCategory + ') not found at primary or fallback path: ' + e2.message);\n    }\n  } else {\n    warnings.push('WARN: Category skill (' + detectedCategory + ') not found: ' + e.message);\n  }\n}\n\nlet memoryContext = '';\ntry {\n  const memory = JSON.parse(fs.readFileSync('D:\\\\Reddit PS automation\\\\n8n-assets\\\\memory.json', 'utf8'));\n  const catMemKey = detectedCategory === 'combine_swap' ? 'combine' :\n                     detectedCategory === 'face_body_fix' ? 'face_fix' :\n                     detectedCategory === 'text_logo' ? 'text_change' : detectedCategory;\n  const catMem = memory[catMemKey] || '';\n  const genMem = memory['general'] || '';\n  memoryContext = [catMem, genMem].filter(Boolean).join('\\n');\n} catch(e) {\n  warnings.push('WARN: Memory file not loaded: ' + e.message);\n}\n\nconst skillStatus = {\n  masterLoaded: !!masterSkill,\n  categoryLoaded: !!categorySkill,\n  detectedCategory,\n  memoryLoaded: !!memoryContext,\n  warnings\n};\n\nreturn [{ json: {\n  ...postData,\n  skillContext: masterSkill + (categorySkill ? '\\n\\n## CATEGORY-SPECIFIC SKILL\\n' + categorySkill : ''),\n  memoryContext,\n  detectedCategory,\n  skillStatus\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -112
      ],
      "id": "52f96955-6c60-488e-9b4a-5bac25d361fd",
      "name": "Load Skills"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\n// =============================================\n// API KEY — TODO: ROTATE EXPOSED KEY\n// n8n free tier: must hardcode (no $env support)\n// n8n paid tier: replace with $env.KIEAI_API_KEY\n// This key MUST be rotated if repo is public.\n// =============================================\nconst KIE_API_KEY = 'b284a8f22d39549cf2844eeef2aaee2d'; // TODO: ROTATE\n\nconst postData = $('Download & Extract').item.json;\nconst skillData = $('Load Skills').item.json;\n\nconst imageContent = postData.sourceUrls.map((url, i) => ({\n  type: 'image_url',\n  image_url: { url: url }\n}));\n\nlet systemPrompt = `You are the Brain of an automated Photoshop request fulfillment system. You analyze Reddit r/PhotoshopRequest posts and create multi-step edit plans executed via Photopea + Nano Banana Edit.\n\nMANDATORY ANALYSIS — think through ALL of these before creating your plan:\n1. What EXACTLY is the person requesting? Quote their specific words.\n2. Which image is the BASE to edit? Which are REFERENCES?\n3. Where are ALL faces in the image? Estimate bounding boxes (x,y,width,height pixels).\n4. What pixels should change? What pixels MUST stay identical?\n5. What is the hardest part? What could go wrong?\n6. If 20 people compete, what makes MY submission win?\n\nHOW THE SYSTEM WORKS:\nEvery edit goes through Photopea (headless Photoshop clone) + Nano Banana Edit.\n- Photopea opens the original image and maintains the EXACT original canvas size throughout\n- For each edit step, Photopea crops your selected region from the canvas\n- The cropped region gets sent to Nano Banana Edit (an AI image editing model)\n- NB Edit returns the edited crop\n- Photopea places it as a new layer at the EXACT same coordinates on top of the original\n- Photopea feathers the edges for seamless blending\n- Original pixels outside your selection are NEVER touched, NEVER sent to AI, NEVER changed\n- Final export is ALWAYS the same dimensions as the original image\n\nThis is identical to how professionals use Nano Banana inside Photoshop: select an area, generate fill for just that area, composite back with masking.\n\nAVAILABLE OPERATIONS — every step MUST use one:\n\nphotopeaOp: \"crop_for_nb2\"\n  For edits needing AI GENERATION of new pixels. Photopea crops region -> NB Edit generates/edits it -> Photopea composites back.\n  USE FOR: removals, additions, background changes, creative edits, restorations, texture changes, object replacement.\n  DO NOT USE FOR: face/body fixes when the desired pixels already exist in a reference image. Use face_swap or feature_swap instead.\n  FORBIDDEN: full-image crop_for_nb2 for surgical face/body fixes. Use targeted selections and the correct swap operation.\n  For full-image restorations/color grading: set isFullImage: true. Photopea still maintains original dimensions.\n\nphotopeaOp: \"color_adjust\"\n  Pure Photopea operation. No AI model. Zero quality loss.\n  USE FOR: color correction, brightness, contrast, tint, exposure, saturation, white balance.\n  Include a photopeaScript field with the adjustment (e.g., \"adjust brightness +20, contrast +10\").\n\nphotopeaOp: \"face_preserve\"\n  Extracts faces from the ORIGINAL image and pastes them on top of the edited result.\n  USE AS: the FINAL step on ALL paid requests and ALL NO AI requests.\n  Guarantees faces are original pixels, not AI-generated.\n\nphotopeaOp: \"face_swap\"\n  For requests like \"replace her face with the face from photo 2\" or \"swap the blinking face with the open-eyes face\".\n  REQUIRES: sourceImageUrl (base image to edit), editedRegionUrl (reference image with desired face).\n  REQUIRES: selectionArea (target face location in base image), faceRegions[0] (source face location in reference image).\n  The Engine extracts the face from the reference, scales and positions it over the target face in the base, and blends with feathered elliptical mask.\n  This is Photopea-only — NO NB Edit needed.\n\nphotopeaOp: \"feature_swap\"\n  For transferring a SPECIFIC facial feature from one image to another: eyes, eyebrows, mouth, smile.\n  Unlike face_swap, this does NOT replace the whole face. It extracts a TIGHT feature band from the reference and blends ONLY that feature onto the target.\n  USE FOR: \"open eyes from photo 2\", \"use the smile from photo 3\", \"fix the eyebrows using the other photo\".\n  REQUIRES: sourceImageUrl (base image), editedRegionUrl (reference image with desired feature).\n  REQUIRES: featureRegions array with objects: { srcX, srcY, srcWidth, srcHeight, tgtX, tgtY, tgtWidth, tgtHeight }.\n  This is Photopea-only. NO NB Edit needed. Preserves surrounding face structure.\n  ALWAYS prefer feature_swap over crop_for_nb2 when the desired pixels exist in a reference image.\n\n\nROUTING PRIORITY (MANDATORY — follow this decision tree):\n1. Does the desired pixel content already exist in a reference image?\n   YES → Is it a whole face? → face_swap\n   YES → Is it a specific feature (eyes, mouth, smile)? → feature_swap\n   NO  → Continue to step 2\n2. Does the edit need AI to generate/invent new pixels?\n   YES → crop_for_nb2 (with smallest possible selection area)\n3. Is the edit purely tonal (brightness, contrast, color)?\n   YES → color_adjust\n4. Must original faces be preserved after AI edits?\n   YES → face_preserve as FINAL step\n\n\n\nCATEGORY-TO-OPERATION MAPPING (MANDATORY — use this table before choosing any op):\n\n| Request Category   | Has Reference Image? | Operation to Use   | NEVER Use            |\n|--------------------|---------------------|--------------------|----------------------|\n| face_fix           | YES                 | feature_swap       | crop_for_nb2         |\n| face_fix           | NO                  | crop_for_nb2 (tight selection) | full-image crop_for_nb2 |\n| combine (face)     | YES                 | face_swap          | crop_for_nb2         |\n| combine (feature)  | YES                 | feature_swap       | crop_for_nb2         |\n| combine (scene)    | YES                 | crop_for_nb2       | —                    |\n| feature_swap       | YES                 | feature_swap       | face_swap, crop_for_nb2 |\n| removal            | N/A                 | crop_for_nb2 (tight selection) | full-image crop_for_nb2 |\n| background         | N/A                 | crop_for_nb2       | —                    |\n| restoration        | N/A                 | crop_for_nb2 (isFullImage: true OK) | — |\n| color_adjust       | N/A                 | color_adjust       | crop_for_nb2         |\n| enhancement        | N/A                 | crop_for_nb2 or color_adjust | — |\n| creative           | N/A                 | crop_for_nb2       | —                    |\n| text_change        | N/A                 | crop_for_nb2 (tight selection) | full-image crop_for_nb2 |\n\nVIOLATION of this table will cause VALIDATION FAILURE in downstream nodes. The system will reject:\n- crop_for_nb2 for face_fix/combine/feature_swap categories when a reference image exists\n- full-image crop_for_nb2 for face_fix/feature_swap categories (restoration excluded)\n- face_swap without faceRegions and referenceImage\n- feature_swap without featureRegions and referenceImage\n\n\n\nCOMBINE SUBTYPE (MANDATORY for category=\"combine\"):\nWhen category is \"combine\", you MUST set requestAnalysis.combineSubtype:\n- \"face\": replacing/swapping an entire face from a reference image → requires face_swap\n- \"feature\": transferring a specific facial feature (eyes, mouth, smile) from a reference → requires feature_swap\n- \"scene\": compositing a person/object into a different scene, merging images, or any non-face combine → allows crop_for_nb2\nIf category is not \"combine\", set combineSubtype to null.\nSELECTION RULES:\n- Use SQUARE selections (width = height) whenever possible. NB Edit distorts non-square inputs.\n- SMALLER selections = HIGHER quality. A 400x400 crop produces much sharper results than 2000x2000.\n- Break large edits into 2-4 smaller crop_for_nb2 steps rather than one huge selection.\n- Add 50-100px padding around the target area for blending context.\n- For full restorations: set isFullImage: true. Photopea still maintains original dimensions.\n\nFACE RULES:\n- ALWAYS detect and list all face locations in faceRegions, even when not editing faces.\n- On paid or NO AI posts: add face_preserve as the LAST step ONLY if faces were NOT intentionally edited.\n- NEVER add face_preserve after face_swap, feature_swap, or any step that intentionally changed facial features (eyes, smile, expression). face_preserve would UNDO those intentional edits.\n- For \"add object near person\" requests: crop_for_nb2 on the area where the object goes. The person's pixels stay untouched because they're outside the selection.\n- NEVER select an area containing a face unless the request specifically asks to change that face.\n\nPROMPT WRITING FOR NB EDIT:\n- Be specific: name objects, describe positions, mention colors\n- Always describe what should FILL the edited area\n- Include preservation instructions: \"maintain surrounding texture, match lighting\"\n- For removals: \"remove [object], fill with [describe surrounding environment]\"\n- For additions: \"add [object] naturally into the scene, matching perspective and lighting\"\n- NEVER use vague prompts like \"make it better\" — describe exactly what to change\n\nMULTI-IMAGE REQUESTS:\nWhen the requester provides 2+ images:\n- Identify which is the BASE (the image to edit) and which are REFERENCES.\n- For \"swap face from photo 2 into photo 1\": use face_swap with sourceImageUrl=source_1 URL, editedRegionUrl=source_2 URL.\n- For \"put person from photo 1 into scene from photo 2\": crop person from photo 1, composite into photo 2.\n- For \"use eyes from photo 2\" or any feature-level transfer: use feature_swap with featureRegions specifying the eye band in both source and target. Do NOT use face_swap for partial features — face_swap grabs the whole face.\n- The brain must specify which image URL goes where in each step via targetImage field.\n- Reference images use: step.referenceImage = \"source_2\" (or source_3, etc.)\n- Set baseImage at the top level to the image that serves as the canvas: \"source_1\", \"source_2\", etc. The system uses this to set the correct original dimensions. If not set, it defaults to the first step's targetImage or source_1.\n\nSKIP — set skipReason if:\n- Request is for video/GIF (we only do static images)\n- Request violates subreddit rules (documents, fraud, NSFW)\n\nOutput ONLY valid JSON matching this schema:\n{\n  \"requestAnalysis\": {\n    \"category\": \"removal|restoration|face_fix|background|creative|enhancement|text_change|combine|color_adjust|feature_swap\",\n    \"combineSubtype\": \"face|feature|scene|null\",\n    \"difficulty\": \"simple|moderate|complex\",\n    \"imageCount\": 1,\n    \"flairWarning\": \"\",\n    \"skipReason\": null\n  },\n  \"steps\": [\n    {\n      \"stepNumber\": 1,\n      \"photopeaOp\": \"crop_for_nb2\",\n      \"model\": \"google/nano-banana-edit\",\n      \"selectionArea\": { \"x\": 100, \"y\": 50, \"width\": 400, \"height\": 400, \"isFullImage\": false },\n      \"editPrompt\": \"Remove the trash can completely. Fill the area with the brick sidewalk and grass that continues from the surrounding environment. Maintain consistent lighting and texture.\",\n      \"preserveList\": [\"person on right\", \"bench\", \"trees\", \"sky\"],\n      \"faceRegions\": [{\"x\":500,\"y\":80,\"width\":120,\"height\":150}],\n      \"featherRadius\": 15,\n      \"expectedOutput\": \"Clean sidewalk where trash can was\"\n    }\n  ],\n  \"outputNotes\": \"description of full plan\",\n  \"competitionStrategy\": \"what makes this submission win\",\n  \"baseImage\": \"source_1\"\n}\n\nNo markdown, no explanation, no preamble. ONLY the JSON.`;\n\nif (skillData.skillContext) {\n  systemPrompt += '\\n\\n## SKILL CONTEXT\\n' + skillData.skillContext;\n}\nif (skillData.memoryContext) {\n  systemPrompt += '\\n\\n## MEMORY CONTEXT\\n' + skillData.memoryContext;\n}\n\nconst userMessage = `POST TITLE: ${postData.title}\n\nPOST BODY: ${postData.bodyText || '(no body text)'}\n\nFLAIR: ${postData.flair || 'none'}\nPRICE: ${postData.price || 'none'}\nIMAGE COUNT: ${postData.imageCount}\nORIGINAL RESOLUTION: ${postData.origWidth}x${postData.origHeight}\n\nAnalyze ALL images and the request. Create a multi-step edit plan. Output ONLY the JSON.`;\n\n// kie.ai Gemini 3.1 Pro API — exact spec from docs:\n// - 'developer' role replaces 'system' in v1+ models\n// - stream: true (API always returns streaming data: lines)\n// - include_thoughts: false (no thought streaming in production)\n// - No unsupported params (temperature, max_tokens, response_format)\nconst requestBody = JSON.stringify({\n  messages: [\n    { role: 'developer', content: [{ type: 'text', text: systemPrompt }] },\n    { role: 'user', content: [\n      { type: 'text', text: userMessage },\n      ...imageContent\n    ]}\n  ],\n  stream: true,\n  include_thoughts: false,\n  reasoning_effort: 'high'\n});\n\nfunction callGemini(body) {\n  return new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'api.kie.ai',\n      path: '/gemini-3.1-pro/v1/chat/completions',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Authorization': 'Bearer ' + KIE_API_KEY,\n        'Content-Length': Buffer.byteLength(body)\n      },\n      timeout: 180000\n    }, (res) => {\n      let data = '';\n      res.on('data', chunk => data += chunk);\n      res.on('end', () => resolve({ status: res.statusCode, body: data }));\n      res.on('error', reject);\n    });\n    req.on('error', reject);\n    req.on('timeout', () => { req.destroy(); reject(new Error('Gemini 3.1 Pro timeout')); });\n    req.write(body);\n    req.end();\n  });\n}\n\nlet response;\ntry {\n  response = await callGemini(requestBody);\n} catch(e1) {\n  // Retry once after 3s\n  await new Promise(r => setTimeout(r, 3000));\n  response = await callGemini(requestBody);\n}\n\n// Parse streaming response: data: lines with delta.content\nlet content = '';\n\nlet apiDebug = 'HTTP ' + response.status;\ntry {\n  const lines = response.body.split('\\n').filter(l => l.startsWith('data:'));\n  apiDebug += ' | chunks=' + lines.length;\n  for (const line of lines) {\n    const json = line.replace(/^data:\\s*/, '').trim();\n    if (json === '[DONE]') continue;\n    try {\n      const parsed = JSON.parse(json);\n      const delta = parsed.choices?.[0]?.delta;\n      if (delta) {\n        if (delta.content) content += delta.content;\n      }\n      if (parsed.credits_consumed !== undefined) apiDebug += ' | credits=' + parsed.credits_consumed;\n    } catch(e) {}\n  }\n  apiDebug += ' | content_len=' + content.length;\n  if (!content) {\n    apiDebug += ' | NO_CONTENT | raw_start=' + response.body.substring(0, 300);\n  }\n} catch(e) {\n  apiDebug += ' | PARSE_ERROR: ' + e.message;\n  content = response.body;\n}\n\nlet plan;\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    plan = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found in Gemini response');\n  }\n} catch(e) {\n  // FAIL CLOSED: Do not silently fall back to full-image NB Edit.\n  // A bad plan produces worse results than no plan.\n  // Truncate error to 300 chars so n8n actually displays it instead of 'Unknown error'.\n  const errDetail = 'FAIL-CLOSED: ' + e.message + ' | content_len=' + content.length + ' | apiDebug=' + apiDebug + ' | start=' + content.substring(0, 200);\n  throw new Error(errDetail.substring(0, 300));\n}\n\nif (!plan.requestAnalysis) {\n  plan.requestAnalysis = { category: 'general', difficulty: 'simple', imageCount: postData.imageCount, flairWarning: '', skipReason: null };\n}\nif (!plan.steps || !Array.isArray(plan.steps) || plan.steps.length === 0) {\n  // FAIL CLOSED: Do not auto-create a full-image crop_for_nb2 step.\n  // A missing/empty steps array means the model failed to produce a valid plan.\n  const errMsg = 'FAIL-CLOSED: Gemini returned a plan with no steps. ' +\n    'category=' + (plan.requestAnalysis?.category || 'unknown') +\n    ' | title=' + postData.title.substring(0, 80) +\n    ' | apiDebug=' + apiDebug;\n  throw new Error(errMsg.substring(0, 300));\n}\n\n// Validate and default required v12 fields per step.\n// photopeaOp is REQUIRED — fail closed if missing (do not default to crop_for_nb2).\nfor (let si = 0; si < plan.steps.length; si++) {\n  const step = plan.steps[si];\n  if (!step.photopeaOp) {\n    throw new Error('FAIL-CLOSED: Step ' + (si + 1) + ' has no photopeaOp. The Brain must specify an operation for every step.');\n  }\n  step.model = 'google/nano-banana-edit';\n  if (!step.selectionArea) step.selectionArea = { x: 0, y: 0, width: postData.origWidth || 1024, height: postData.origHeight || 1024, isFullImage: true };\n  if (step.featherRadius === undefined) step.featherRadius = 12;\n  if (!step.faceRegions) step.faceRegions = [];\n  if (!step.preserveList) step.preserveList = [];\n}\n\nplan.model = 'google/nano-banana-edit';\nplan.editPrompt = plan.steps[0].editPrompt;\nplan.category = plan.requestAnalysis.category;\nplan.reasoning = plan.outputNotes || '';\nplan.preserveDimensions = true;\nplan.flairWarning = plan.requestAnalysis.flairWarning || '';\nplan.imageStrategy = plan.steps.map(s => `Step ${s.stepNumber}: ${s.photopeaOp} on ${s.targetImage || 'source_1'}`).join('; ');\n// Resolve the true base image: use plan.baseImage if the Brain set it,\n// otherwise derive from the first step's targetImage, fallback to source_1\nlet baseImageIndex = 0;\nif (plan.baseImage && plan.baseImage.startsWith('source_')) {\n  baseImageIndex = parseInt(plan.baseImage.replace('source_', '')) - 1;\n} else if (plan.steps[0] && plan.steps[0].targetImage && plan.steps[0].targetImage.startsWith('source_')) {\n  baseImageIndex = parseInt(plan.steps[0].targetImage.replace('source_', '')) - 1;\n}\nif (baseImageIndex < 0 || baseImageIndex >= postData.sourceUrls.length) baseImageIndex = 0;\nplan.sourceImageUrl = postData.sourceUrls[baseImageIndex];\nplan.baseImageIndex = baseImageIndex;\nplan.allImageUrls = postData.sourceUrls;\n// Use the true base image dimensions\nconst baseMeta = (postData.allImageMeta || [])[baseImageIndex];\nif (baseMeta && baseMeta.width > 0) {\n  postData.origWidth = baseMeta.width;\n  postData.origHeight = baseMeta.height;\n}\nplan.debug = `${apiDebug} | Steps: ${plan.steps.length} | Category: ${plan.requestAnalysis.category} | Content: ${content.length} chars | ${plan.outputNotes?.includes('FALLBACK') ? 'FALLBACK USED' : 'AI planned'}`;\n\n// ============================================================\n// PLAN VALIDATOR — MANDATORY face_swap → feature_swap rewrite\n// ============================================================\nconst requestText = ((postData.title || '') + ' ' + (postData.bodyText || '')).toLowerCase();\nconst featureSignals = /\\b(eye|eyes|blink|blinking|closed\\s*eyes?|open\\s*eyes?|expression|smile|mouth|eyebrows?)\\b/;\nconst hasFeatureSignal = featureSignals.test(requestText);\nconst hasMultipleImages = postData.imageCount > 1;\nconst planValidatorLog = [];\n\nfor (let vi = 0; vi < plan.steps.length; vi++) {\n  const vstep = plan.steps[vi];\n  const hasRef = !!(vstep.referenceImage && vstep.referenceImage.startsWith('source_'));\n\n  // RULE 1: feature signal + reference image + face_swap → rewrite to feature_swap\n  if (hasFeatureSignal && hasRef && vstep.photopeaOp === 'face_swap') {\n    // Check if this is truly a whole-face replacement (different person) — allow face_swap then\n    const wholeFaceSignals = /\\b(different\\s*person|different\\s*face|head\\s*swap|replace.*entire.*face|whole\\s*face)\\b/;\n    if (!wholeFaceSignals.test(requestText)) {\n      planValidatorLog.push('REWRITE step ' + (vi + 1) + ': face_swap → feature_swap (feature signal: ' + requestText.match(featureSignals)?.[0] + ')');\n      vstep.photopeaOp = 'feature_swap';\n      // Synthesize featureRegions from faceRegions if not present\n      if (!vstep.featureRegions || vstep.featureRegions.length === 0) {\n        const face = (vstep.faceRegions && vstep.faceRegions[0]) || vstep.selectionArea || {};\n        const fx = face.x || 0;\n        const fy = face.y || 0;\n        const fw = face.width || 300;\n        const fh = face.height || 300;\n        // Derive a tight eye band: upper 40% of face box, temple-to-temple\n        // Vertically: from ~20% to ~55% of face height (eyebrow to below lower eyelid)\n        const bandTop = Math.round(fy + fh * 0.15);\n        const bandHeight = Math.round(fh * 0.40);\n        const bandLeft = fx;\n        const bandWidth = fw;\n        vstep.featureRegions = [{\n          srcX: bandLeft, srcY: bandTop, srcWidth: bandWidth, srcHeight: bandHeight,\n          tgtX: bandLeft, tgtY: bandTop, tgtWidth: bandWidth, tgtHeight: bandHeight\n        }];\n        planValidatorLog.push('SYNTHESIZED featureRegions from faceRegions: (' + bandLeft + ',' + bandTop + ' ' + bandWidth + 'x' + bandHeight + ')');\n      }\n    } else {\n      planValidatorLog.push('KEEP face_swap step ' + (vi + 1) + ': whole-face replacement signal detected');\n    }\n  }\n\n  // RULE 2: feature_swap must have featureRegions\n  if (vstep.photopeaOp === 'feature_swap' && (!vstep.featureRegions || vstep.featureRegions.length === 0)) {\n    // Try to synthesize from faceRegions/selectionArea\n    const face = (vstep.faceRegions && vstep.faceRegions[0]) || vstep.selectionArea || {};\n    const fx = face.x || 0;\n    const fy = face.y || 0;\n    const fw = face.width || 300;\n    const fh = face.height || 300;\n    if (fw > 0 && fh > 0) {\n      const bandTop = Math.round(fy + fh * 0.15);\n      const bandHeight = Math.round(fh * 0.40);\n      vstep.featureRegions = [{\n        srcX: fx, srcY: bandTop, srcWidth: fw, srcHeight: bandHeight,\n        tgtX: fx, tgtY: bandTop, tgtWidth: fw, tgtHeight: bandHeight\n      }];\n      planValidatorLog.push('SYNTHESIZED featureRegions for step ' + (vi + 1) + ' from face geometry');\n    } else {\n      throw new Error('PLAN VALIDATION FAIL: Step ' + (vi + 1) + ' is feature_swap but has no featureRegions and no faceRegions/selectionArea to synthesize from.');\n    }\n  }\n}\n\nif (planValidatorLog.length > 0) {\n  plan._planValidatorLog = planValidatorLog;\n}\n\nreturn [{ json: { ...postData, plan } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -112
      ],
      "id": "702a7b4f-308f-4104-a308-3598a827a834",
      "name": "Brain (Gemini 3.1 pro)",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Paste URL": {
      "main": [
        [
          {
            "node": "Download & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download & Extract": {
      "main": [
        [
          {
            "node": "Create Request Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Request Folder": {
      "main": [
        [
          {
            "node": "Load Skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Skills": {
      "main": [
        [
          {
            "node": "Brain (Gemini 3.1 pro)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain (Gemini 3.1 pro)": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9759b06a-4424-427f-b58a-a7fafb64eb97",
  "meta": {
    "instanceId": "3f0088b86feed34e50a894d46c9906aeed5853151cd581e2141481e3b4622116"
  },
  "id": "6Wgox0NSl9B22OPN",
  "tags": []
}