PS Request Fulfiller v12 Photopea MVP (in development).json
{
  "name": "PS Request Fulfiller v12 Photopea MVP (in development)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "PS Request Fulfiller v12",
        "formDescription": "Paste a Reddit PhotoshopRequest URL",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Reddit URL",
              "placeholder": "https://www.reddit.com/r/PhotoshopRequest/comments/...",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        16,
        -112
      ],
      "id": "3c162004-7b0e-4442-9de7-c2b22eb2a068",
      "name": "Paste URL",
      "webhookId": "320578aa-8d0e-47ba-a6ca-ac4e02207a12"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst http = require('http');\nconst fs = require('fs');\nconst path = require('path');\nconst crypto = require('crypto');\n\nconst redditUrl = $input.first().json['Reddit URL'];\nconst sourceDir = 'D:\\\\Reddit PS automation\\\\Source images';\n\nif (!fs.existsSync(sourceDir)) fs.mkdirSync(sourceDir, { recursive: true });\n\nfunction httpGet(url, headers = {}) {\n  return new Promise((resolve, reject) => {\n    const mod = url.startsWith('https') ? https : http;\n    const opts = {\n      headers: { 'User-Agent': 'n8n-ps-fulfiller/2.0', ...headers },\n      timeout: 30000\n    };\n    mod.get(url, opts, (res) => {\n      if ([301,302,303,307,308].includes(res.statusCode)) {\n        return httpGet(res.headers.location, headers).then(resolve).catch(reject);\n      }\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => resolve({ status: res.statusCode, data: Buffer.concat(chunks), headers: res.headers }));\n      res.on('error', reject);\n    }).on('error', reject).on('timeout', () => reject(new Error('Timeout')));\n  });\n}\n\nfunction uploadToCatbox(buffer, format) {\n  return new Promise((resolve, reject) => {\n    const boundary = '----CatboxBoundary' + crypto.randomBytes(8).toString('hex');\n    const ext = format || 'png';\n    const mime = ext === 'jpg' || ext === 'jpeg' ? 'image/jpeg' : ext === 'webp' ? 'image/webp' : 'image/png';\n    const header = `--${boundary}\\r\\nContent-Disposition: form-data; name=\"reqtype\"\\r\\n\\r\\nfileupload\\r\\n` +\n      `--${boundary}\\r\\nContent-Disposition: form-data; name=\"time\"\\r\\n\\r\\n1h\\r\\n` +\n      `--${boundary}\\r\\nContent-Disposition: form-data; name=\"fileToUpload\"; filename=\"source.${ext}\"\\r\\nContent-Type: ${mime}\\r\\n\\r\\n`;\n    const footer = `\\r\\n--${boundary}--\\r\\n`;\n    const headerBuf = Buffer.from(header);\n    const footerBuf = Buffer.from(footer);\n    const body = Buffer.concat([headerBuf, buffer, footerBuf]);\n    const req = https.request({\n      hostname: 'litterbox.catbox.moe',\n      path: '/resources/internals/api.php',\n      method: 'POST',\n      headers: {\n        'Content-Type': `multipart/form-data; boundary=${boundary}`,\n        'Content-Length': body.length\n      },\n      timeout: 60000\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const url = Buffer.concat(chunks).toString().trim();\n        if (url.startsWith('https://')) { resolve(url); }\n        else { reject(new Error('Catbox upload failed: ' + url.slice(0, 200))); }\n      });\n      res.on('error', reject);\n    });\n    req.on('error', reject);\n    req.on('timeout', () => { req.destroy(); reject(new Error('Catbox upload timeout')); });\n    req.write(body);\n    req.end();\n  });\n}\n\nlet postId = '';\nconst match = redditUrl.match(/comments\\/([a-z0-9]+)/i);\nif (match) postId = match[1];\nif (!postId) throw new Error('Cannot extract post ID from URL: ' + redditUrl);\n\nconst jsonUrl = `https://www.reddit.com/r/PhotoshopRequest/comments/${postId}.json`;\nconst jsonResp = await httpGet(jsonUrl);\nconst jsonText = jsonResp.data.toString();\n\nif (jsonText.startsWith('<!') || jsonText.startsWith('<html')) {\n  throw new Error('Reddit returned HTML instead of JSON. Wait 30s and retry. URL: ' + jsonUrl);\n}\n\nconst redditData = JSON.parse(jsonText);\nconst post = redditData[0].data.children[0].data;\n\nconst title = post.title || '';\nconst bodyText = post.selftext || '';\nconst flair = post.link_flair_text || '';\nconst datePosted = new Date(post.created_utc * 1000).toISOString();\n\nlet price = '';\nconst priceMatch = (title + ' ' + bodyText).match(/\\$\\s*(\\d+(?:\\.\\d{2})?)/)\n  || (title + ' ' + bodyText).match(/(\\d+)\\s*(?:USD|usd|dollars?|\\u20ac|euros?|\\u00a3|pounds?)/i);\nif (priceMatch) price = '$' + priceMatch[1];\n\nlet imageUrls = [];\n\nif (post.gallery_data && post.media_metadata) {\n  const items = post.gallery_data.items || [];\n  for (const item of items) {\n    const mediaId = item.media_id;\n    const meta = post.media_metadata[mediaId];\n    if (meta && meta.s) {\n      let url = meta.s.u || meta.s.gif || '';\n      url = url.replace(/&amp;/g, '&');\n      url = url.replace(/preview\\.redd\\.it/, 'i.redd.it').split('?')[0];\n      if (url) imageUrls.push(url);\n    }\n  }\n}\n\nif (imageUrls.length === 0 && post.url) {\n  let url = post.url;\n  if (url.match(/\\.(jpg|jpeg|png|gif|webp)/i)) {\n    url = url.replace(/preview\\.redd\\.it/, 'i.redd.it').split('?')[0];\n    imageUrls.push(url);\n  }\n}\n\nif (imageUrls.length === 0 && post.preview && post.preview.images) {\n  for (const img of post.preview.images) {\n    let url = (img.source && img.source.url) || '';\n    url = url.replace(/&amp;/g, '&').replace(/preview\\.redd\\.it/, 'i.redd.it').split('?')[0];\n    if (url) imageUrls.push(url);\n  }\n}\n\nif (imageUrls.length === 0) {\n  throw new Error('NO IMAGES FOUND in post: ' + title);\n}\n\nconst uid = crypto.randomBytes(3).toString('hex');\nconst savedFiles = [];\nconst publicUrls = [];\nlet origWidth = 0, origHeight = 0;\nconst allImageMeta = [];\n\nfor (let i = 0; i < imageUrls.length; i++) {\n  try {\n    const resp = await httpGet(imageUrls[i], { 'Accept': 'image/png,image/*' });\n    if (resp.data.length < 1000) continue;\n    const ext = imageUrls[i].match(/\\.(jpg|jpeg|png|gif|webp)/i);\n    const extension = ext ? ext[1] : 'jpg';\n    const filename = `${postId}_${uid}_${i+1}.${extension}`;\n    const filepath = path.join(sourceDir, filename);\n    fs.writeFileSync(filepath, resp.data);\n    savedFiles.push(filename);\n    try {\n      const catboxUrl = await uploadToCatbox(resp.data, extension);\n      publicUrls.push(catboxUrl);\n    } catch(e) {\n      publicUrls.push(imageUrls[i]);\n    }\n    try {\n      const sharp = require('sharp');\n      const meta = await sharp(resp.data).metadata();\n      const w = meta.width || 0;\n      const h = meta.height || 0;\n      allImageMeta.push({ index: i + 1, width: w, height: h, sourceKey: 'source_' + (i + 1) });\n      if (i === 0) { origWidth = w; origHeight = h; }\n    } catch(e) {\n      allImageMeta.push({ index: i + 1, width: 0, height: 0, sourceKey: 'source_' + (i + 1) });\n    }\n  } catch(e) { /* image download failed, skip this image */ }\n}\n\nif (savedFiles.length === 0) {\n  throw new Error('ALL IMAGE DOWNLOADS FAILED for post: ' + title);\n}\n\nreturn [{\n  json: {\n    postId, title, bodyText, flair, price, datePosted,\n    imageCount: imageUrls.length,\n    sourceFiles: savedFiles.join(', '),\n    sourceUrls: publicUrls,\n    originalRedditUrls: imageUrls,\n    postUrl: `https://www.reddit.com/r/PhotoshopRequest/comments/${postId}/`,\n    origWidth, origHeight,\n    allImageMeta,\n    startTime: Date.now(),\n    requestId: postId + '_' + Date.now().toString(36) + '_' + Math.random().toString(36).substring(2, 6),\n    dateCollected: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -112
      ],
      "id": "2f862ecd-d112-4915-96c0-5d6750bb800c",
      "name": "Download & Extract",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst postData = $input.first().json;\nconst requestDir = path.join('D:\\\\Reddit PS automation\\\\requests', postData.requestId || postData.postId);\nconst intermediateDir = path.join(requestDir, 'intermediate');\nconst referencesDir = path.join(requestDir, 'references');\n\nif (!fs.existsSync(requestDir)) fs.mkdirSync(requestDir, { recursive: true });\nif (!fs.existsSync(intermediateDir)) fs.mkdirSync(intermediateDir, { recursive: true });\nif (!fs.existsSync(referencesDir)) fs.mkdirSync(referencesDir, { recursive: true });\n\nfs.writeFileSync(path.join(requestDir, 'request.json'), JSON.stringify({\n  requestId: postData.requestId,\n  postId: postData.postId,\n  title: postData.title,\n  bodyText: postData.bodyText,\n  flair: postData.flair,\n  price: postData.price,\n  postUrl: postData.postUrl,\n  datePosted: postData.datePosted,\n  imageCount: postData.imageCount,\n  sourceUrls: postData.sourceUrls,\n  dateCollected: postData.dateCollected\n}, null, 2));\n\nconst sourceDir = 'D:\\\\Reddit PS automation\\\\Source images';\nconst savedFiles = postData.sourceFiles.split(', ');\nfor (let i = 0; i < savedFiles.length; i++) {\n  try {\n    const srcPath = path.join(sourceDir, savedFiles[i]);\n    if (fs.existsSync(srcPath)) {\n      const ext = path.extname(savedFiles[i]);\n      fs.copyFileSync(srcPath, path.join(requestDir, `source_${i + 1}${ext}`));\n    }\n  } catch(e) { /* non-blocking: source file copy failed */ }\n}\n\nreturn [{ json: { ...postData, requestDir } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -112
      ],
      "id": "45649a26-754b-452a-adfc-4f97a839cde3",
      "name": "Create Request Folder"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst postData = $input.first().json;\nconst warnings = [];\n\n// =============================================\n// MVP LOAD SKILLS \u2014 Loads the routing-only\n// feature_swap_mvp.md skill from skills/ subdir.\n// Brain is routing-only; geometry is handled by\n// browser-side MediaPipe Face Mesh.\n// =============================================\n\nlet masterSkill = '';\n\nconst localSkillsDir = 'D:\\\\Reddit PS automation\\\\n8n-assets\\\\skills';\n\nfunction loadSkill(relPath) {\n  const fullPath = path.join(localSkillsDir, relPath);\n  try { return fs.readFileSync(fullPath, 'utf8'); } catch (e) {}\n  return null;\n}\n\n// Load the routing-only MVP skill\nconst master = loadSkill('feature_swap_mvp.md');\nif (master) {\n  masterSkill = master;\n} else {\n  warnings.push('WARN: feature_swap_mvp.md not found in ' + localSkillsDir);\n}\n\n// Detect category for logging only (NOT for skill injection)\nconst text = ((postData.title || '') + ' ' + (postData.bodyText || '')).toLowerCase();\nlet detectedCategory = 'general';\nif (/fix.*eye|open.*eye|close.*eye|blink|fix.*face|close.*mouth|smile|expression|body.*fix|eyebrow|open her eye|open his eye|fix.*blink/.test(text)) detectedCategory = 'face_body_fix';\nelse if (/combine|swap|head swap|face swap|put .* into|composite|merge/.test(text)) detectedCategory = 'combine_swap';\n\n// Memory context\nlet memoryContext = '';\ntry {\n  const memory = JSON.parse(fs.readFileSync('D:\\\\Reddit PS automation\\\\n8n-assets\\\\memory.json', 'utf8'));\n  const catMemKey = detectedCategory === 'combine_swap' ? 'combine' :\n                     detectedCategory === 'face_body_fix' ? 'face_fix' : detectedCategory;\n  const catMem = memory[catMemKey] || '';\n  const genMem = memory['general'] || '';\n  memoryContext = [catMem, genMem].filter(Boolean).join('\\n');\n} catch(e) {\n  warnings.push('WARN: Memory file not loaded: ' + e.message);\n}\n\nreturn [{ json: {\n  ...postData,\n  skillContext: masterSkill,\n  memoryContext,\n  detectedCategory,\n  skillStatus: {\n    masterLoaded: !!masterSkill,\n    categoryLoaded: false,\n    detectedCategory,\n    memoryLoaded: !!memoryContext,\n    warnings\n  }\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -112
      ],
      "id": "52f96955-6c60-488e-9b4a-5bac25d361fd",
      "name": "Load Skills"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\n// =============================================\n// API KEY \u2014 TODO: ROTATE EXPOSED KEY\n// =============================================\nconst KIE_API_KEY = 'b284a8f22d39549cf2844eeef2aaee2d'; // TODO: ROTATE\n\nconst data = $input.first().json;\nconst postData = data;\nconst skillData = data;\n\nconst imageContent = postData.sourceUrls.map((url, i) => ({\n  type: 'image_url',\n  image_url: { url: url }\n}));\n\n// =============================================\n// BRAIN PROMPT \u2014 ROUTING ONLY\n// Brain decides WHAT to do, not WHERE pixels go.\n// Geometry is handled by MediaPipe Face Mesh.\n// Brain does NOT estimate coordinates.\n// =============================================\nlet systemPrompt = `You are the routing Brain of a deterministic Photopea-based photo editing system. Your ONLY job is to analyze Reddit r/PhotoshopRequest posts and decide WHAT to do \u2014 not WHERE every pixel goes.\n\nYOU DECIDE:\n- Is this request supported? (same-person, reference-based, eye/blink fix)\n- Which image is the BASE (has the problem: blinking, wrong expression)?\n- Which image is the REFERENCE (has the desired feature: open eyes, correct smile)?\n- Which facial feature to transfer (eyes only for MVP)\n- Which face in each image to target\n\nYOU DO NOT:\n- Estimate pixel coordinates, bounding boxes, or regions\n- Output srcX, srcY, srcWidth, srcHeight, tgtX, tgtY\n- Output featureRegions, transform parameters, or featherRadius\n- Write Photopea scripts\n- Geometry is handled automatically by MediaPipe Face Mesh\n\nBASE vs REFERENCE:\n- BASE = the image being fixed (has the problem: blinking, wrong expression)\n- REFERENCE = the donor image (has the desired feature: open eyes, correct smile)\n\nBASE/REFERENCE ASSIGNMENT RULES:\n- If request says \"first pic/photo/image\" has the problem \u2192 base = source_1\n- If request says \"second pic/photo/image\" has the desired feature \u2192 reference = source_2\n- Reverse if clearly stated otherwise\n- If ambiguous, use visual analysis to determine which image has closed/blinking eyes\n\nFACE HINTS:\n- targetFaceHint: which face in the BASE image (default: \"largest\")\n- referenceFaceHint: which face in the REFERENCE image (default: \"largest\")\n- Supported values: \"largest\", \"leftmost\", \"rightmost\"\n- Use \"largest\" unless there are multiple people and context makes it clear which one\n\nSUPPORTED SCOPE:\n- Same-person, reference-based facial feature corrections\n- Specifically: blink/eye corrections, expression fixes\n- REQUIRES: 2+ images of the same person with different expressions/features\n\nUNSUPPORTED \u2014 set supported=false with skipReason:\n- Single image requests (no reference available)\n- Different-person face swaps\n- Object removal, background changes, creative edits\n- Text changes, color corrections, restorations\n- Anything requiring AI generation\n- Video/GIF requests\n- Full face replacement\n- Body-level or hair/clothing edits\n- Multi-step editing\n\n${skillData.skillContext || ''}\n${skillData.memoryContext ? '\\nMEMORY CONTEXT:\\n' + skillData.memoryContext : ''}\n\nOutput ONLY valid JSON matching this schema:\n{\n  \"requestAnalysis\": {\n    \"supported\": true,\n    \"skipReason\": null,\n    \"operation\": \"feature_swap\",\n    \"samePersonReference\": true,\n    \"difficulty\": \"simple\"\n  },\n  \"plan\": {\n    \"baseImage\": \"source_1\",\n    \"referenceImage\": \"source_2\",\n    \"targetFeature\": \"eyes\",\n    \"targetFaceHint\": \"largest\",\n    \"referenceFaceHint\": \"largest\",\n    \"exportFormat\": \"png\"\n  },\n  \"outputNotes\": \"Transfer open eyes from source_2 to fix blinking in source_1\"\n}\n\nFor UNSUPPORTED requests:\n{\n  \"requestAnalysis\": {\n    \"supported\": false,\n    \"skipReason\": \"Clear reason why this is out of scope\",\n    \"operation\": null,\n    \"samePersonReference\": false,\n    \"difficulty\": null\n  },\n  \"plan\": null,\n  \"outputNotes\": null\n}\n\nNo markdown, no explanation, no preamble. ONLY the JSON.`;\n\nconst userMessage = `POST TITLE: ${postData.title}\n\nPOST BODY: ${postData.bodyText || '(no body text)'}\n\nFLAIR: ${postData.flair || 'none'}\nPRICE: ${postData.price || 'none'}\nIMAGE COUNT: ${postData.imageCount}\nORIGINAL RESOLUTION: ${postData.origWidth}x${postData.origHeight}\nALL IMAGE DIMENSIONS: ${JSON.stringify(postData.allImageMeta || [])}\n\nAnalyze the images and request. If this is a same-person feature fix with a reference image, create a routing plan (no pixel coordinates). If not, mark as unsupported. Output ONLY JSON.`;\n\nconst requestBody = JSON.stringify({\n  messages: [\n    { role: 'developer', content: [{ type: 'text', text: systemPrompt }] },\n    { role: 'user', content: [\n      { type: 'text', text: userMessage },\n      ...imageContent\n    ]}\n  ],\n  stream: true,\n  include_thoughts: false,\n  reasoning_effort: 'high'\n});\n\nfunction callGemini(body) {\n  return new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'api.kie.ai',\n      path: '/gemini-3.1-pro/v1/chat/completions',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Authorization': 'Bearer ' + KIE_API_KEY,\n        'Content-Length': Buffer.byteLength(body)\n      },\n      timeout: 180000\n    }, (res) => {\n      let resData = '';\n      res.on('data', chunk => resData += chunk);\n      res.on('end', () => resolve({ status: res.statusCode, body: resData }));\n      res.on('error', reject);\n    });\n    req.on('error', reject);\n    req.on('timeout', () => { req.destroy(); reject(new Error('Gemini timeout')); });\n    req.write(body);\n    req.end();\n  });\n}\n\nlet response;\ntry {\n  response = await callGemini(requestBody);\n} catch(e1) {\n  await new Promise(r => setTimeout(r, 3000));\n  response = await callGemini(requestBody);\n}\n\nlet content = '';\nlet apiDebug = 'HTTP ' + response.status;\ntry {\n  const lines = response.body.split('\\n').filter(l => l.startsWith('data:'));\n  apiDebug += ' | chunks=' + lines.length;\n  for (const line of lines) {\n    const json = line.replace(/^data:\\s*/, '').trim();\n    if (json === '[DONE]') continue;\n    try {\n      const parsed = JSON.parse(json);\n      const delta = parsed.choices?.[0]?.delta;\n      if (delta && delta.content) content += delta.content;\n      if (parsed.credits_consumed !== undefined) apiDebug += ' | credits=' + parsed.credits_consumed;\n    } catch(e) {}\n  }\n  apiDebug += ' | content_len=' + content.length;\n  if (!content) {\n    apiDebug += ' | NO_CONTENT | raw_start=' + response.body.substring(0, 300);\n  }\n} catch(e) {\n  apiDebug += ' | PARSE_ERROR: ' + e.message;\n  content = response.body;\n}\n\nlet brainResponse;\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    brainResponse = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found in Brain response');\n  }\n} catch(e) {\n  const errDetail = 'FAIL-CLOSED: ' + e.message + ' | apiDebug=' + apiDebug + ' | start=' + content.substring(0, 200);\n  throw new Error(errDetail.substring(0, 300));\n}\n\nif (!brainResponse.requestAnalysis) {\n  throw new Error('FAIL-CLOSED: Brain response missing requestAnalysis');\n}\n\nif (brainResponse.requestAnalysis.supported === false) {\n  return [{ json: {\n    ...data,\n    brainResponse,\n    skipped: true,\n    skipReason: brainResponse.requestAnalysis.skipReason || 'Outside scope',\n    debug: apiDebug\n  }}];\n}\n\nif (!brainResponse.plan) {\n  throw new Error('FAIL-CLOSED: Brain returned supported=true but no plan object');\n}\n\n// Validate Brain did NOT output pixel coordinates (routing-only contract)\nconst plan = brainResponse.plan;\nif (plan.steps || plan.featureRegions) {\n  console.log('WARN: Brain output pixel-era fields (steps/featureRegions) \u2014 ignoring them');\n  delete plan.steps;\n  delete plan.featureRegions;\n}\n\nreturn [{ json: {\n  ...data,\n  brainResponse,\n  skipped: false,\n  debug: apiDebug\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -112
      ],
      "id": "702a7b4f-308f-4104-a308-3598a827a834",
      "name": "Brain (Gemini 3.1 pro)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// PLAN VALIDATOR \u2014 Routing-only validation +\n// deterministic text-first base/reference resolver.\n// Geometry comes from MediaPipe.\n// =============================================\nconst data = $input.first().json;\n\nif (data.skipped) {\n  throw new Error('REQUEST UNSUPPORTED: ' + (data.skipReason || 'Outside scope'));\n}\n\nconst brain = data.brainResponse;\nif (!brain || !brain.requestAnalysis) {\n  throw new Error('FAIL-CLOSED: No requestAnalysis in Brain output');\n}\nif (brain.requestAnalysis.supported !== true) {\n  throw new Error('REQUEST UNSUPPORTED: ' + (brain.requestAnalysis.skipReason || 'Brain marked unsupported'));\n}\nif (!brain.plan) {\n  throw new Error('FAIL-CLOSED: Brain returned supported=true but no plan object');\n}\n\nconst plan = brain.plan;\nconst errors = [];\n\n// RULE 1: baseImage and referenceImage format\nif (!plan.baseImage || !/^source_\\d+$/.test(plan.baseImage)) {\n  errors.push('baseImage must be \"source_N\" format. Got: ' + plan.baseImage);\n}\nif (!plan.referenceImage || !/^source_\\d+$/.test(plan.referenceImage)) {\n  errors.push('referenceImage must be \"source_N\" format. Got: ' + plan.referenceImage);\n}\nif (plan.baseImage && plan.referenceImage && plan.baseImage === plan.referenceImage) {\n  errors.push('baseImage and referenceImage must be different');\n}\n\n// RULE 2: Validate image indices exist\nconst sourceUrls = data.sourceUrls || [];\nif (plan.baseImage) {\n  const idx = parseInt(plan.baseImage.replace('source_', '')) - 1;\n  if (idx < 0 || idx >= sourceUrls.length) {\n    errors.push('baseImage ' + plan.baseImage + ' does not exist (have ' + sourceUrls.length + ' images)');\n  }\n}\nif (plan.referenceImage) {\n  const idx = parseInt(plan.referenceImage.replace('source_', '')) - 1;\n  if (idx < 0 || idx >= sourceUrls.length) {\n    errors.push('referenceImage ' + plan.referenceImage + ' does not exist (have ' + sourceUrls.length + ' images)');\n  }\n}\n\n// RULE 3: targetFeature must be \"eyes\" (MVP only supports eyes)\nif (plan.targetFeature && plan.targetFeature !== 'eyes') {\n  errors.push('targetFeature must be \"eyes\" for MVP. Got: ' + plan.targetFeature);\n}\n\n// RULE 4: Face hints must be valid\nconst validHints = ['largest', 'leftmost', 'rightmost'];\nif (plan.targetFaceHint && !validHints.includes(plan.targetFaceHint)) {\n  errors.push('targetFaceHint must be one of: ' + validHints.join(', ') + '. Got: ' + plan.targetFaceHint);\n}\nif (plan.referenceFaceHint && !validHints.includes(plan.referenceFaceHint)) {\n  errors.push('referenceFaceHint must be one of: ' + validHints.join(', ') + '. Got: ' + plan.referenceFaceHint);\n}\n\n// RULE 5: Reject pixel-era fields\nif (plan.steps) {\n  errors.push('REJECTED: Brain output plan.steps (pixel-era field).');\n}\nif (plan.featureRegions) {\n  errors.push('REJECTED: Brain output plan.featureRegions (pixel-era field).');\n}\n\n// =============================================\n// TEXT-FIRST BASE/REFERENCE RESOLVER\n// Parses the request text to determine which\n// image has the problem vs which has the fix.\n// Overrides Brain assignment when text is clear.\n// =============================================\nconst reqText = ((data.title || '') + ' ' + (data.bodyText || '')).toLowerCase();\n\n// Detect \"first image has problem\" patterns\nconst firstHasProblem = /(?:first|1st)\\s+(?:pic|photo|image|one).*(?:blink|close|shut|squint|wrong|fix)/i.test(reqText)\n  || /fix\\s+(?:the\\s+)?(?:first|1st)/i.test(reqText)\n  || /(?:blink|close|shut|squint).*(?:first|1st)\\s+(?:pic|photo|image)/i.test(reqText);\n\nconst secondHasProblem = /(?:second|2nd)\\s+(?:pic|photo|image|one).*(?:blink|close|shut|squint|wrong|fix)/i.test(reqText)\n  || /fix\\s+(?:the\\s+)?(?:second|2nd)/i.test(reqText)\n  || /(?:blink|close|shut|squint).*(?:second|2nd)\\s+(?:pic|photo|image)/i.test(reqText);\n\n// Detect \"use second on first\" patterns\nconst useSecondOnFirst = /(?:use|from|with)\\s+(?:the\\s+)?(?:second|2nd).*(?:on|to|into|for)\\s+(?:the\\s+)?(?:first|1st)/i.test(reqText)\n  || /(?:replace|swap|fix).*(?:first|1st).*(?:with|using|from)\\s+(?:the\\s+)?(?:second|2nd)/i.test(reqText);\n\nconst useFirstOnSecond = /(?:use|from|with)\\s+(?:the\\s+)?(?:first|1st).*(?:on|to|into|for)\\s+(?:the\\s+)?(?:second|2nd)/i.test(reqText)\n  || /(?:replace|swap|fix).*(?:second|2nd).*(?:with|using|from)\\s+(?:the\\s+)?(?:first|1st)/i.test(reqText);\n\nlet resolvedBase = plan.baseImage;\nlet resolvedRef = plan.referenceImage;\nlet assignmentSource = 'brain';\n\nif (firstHasProblem || useSecondOnFirst) {\n  resolvedBase = 'source_1';\n  resolvedRef = 'source_2';\n  assignmentSource = 'text_first_has_problem';\n} else if (secondHasProblem || useFirstOnSecond) {\n  resolvedBase = 'source_2';\n  resolvedRef = 'source_1';\n  assignmentSource = 'text_second_has_problem';\n}\n\n// If text resolver contradicts Brain, log it but trust text\nif (assignmentSource !== 'brain' && (resolvedBase !== plan.baseImage || resolvedRef !== plan.referenceImage)) {\n  console.log('BASE_REF_RESOLVER: Text override \u2014 Brain said base=' + plan.baseImage + ' ref=' + plan.referenceImage\n    + ' | Text resolved base=' + resolvedBase + ' ref=' + resolvedRef + ' | source=' + assignmentSource);\n}\n\nconsole.log('BASE_REF_RESOLVER: base=' + resolvedBase + ' ref=' + resolvedRef + ' source=' + assignmentSource);\n\nif (errors.length > 0) {\n  throw new Error('PLAN VALIDATION FAILED:\\n' + errors.join('\\n'));\n}\n\n// Apply defaults + text-resolved assignment\nconst validatedPlan = {\n  baseImage: resolvedBase,\n  referenceImage: resolvedRef,\n  targetFeature: plan.targetFeature || 'eyes',\n  targetFaceHint: plan.targetFaceHint || 'largest',\n  referenceFaceHint: plan.referenceFaceHint || 'largest',\n  exportFormat: plan.exportFormat || 'png',\n  assignmentSource: assignmentSource\n};\n\nreturn [{ json: {\n  ...data,\n  validatedPlan\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -112
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-111111111111",
      "name": "Plan Validator",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// BUILD PRIMITIVE GEOMETRY \u2014 Calls browser-side\n// MediaPipe Face Mesh via /api/geometry/eye-transfer\n// Returns separate left_eye + right_eye features.\n// Handles both old (eyeGeometry) and new (features)\n// response formats for backward compatibility.\n// =============================================\nconst http = require('http');\nconst fs = require('fs');\nconst path = require('path');\n\nconst data = $input.first().json;\nconst plan = data.validatedPlan;\n\nfunction resolveImageUrl(inputData, sourceKey) {\n  if (inputData.requestDir) {\n    const exts = ['.jpg', '.jpeg', '.png', '.webp'];\n    for (const ext of exts) {\n      const localPath = path.join(inputData.requestDir, sourceKey + ext);\n      try {\n        if (fs.existsSync(localPath)) {\n          return 'http://127.0.0.1:3000/api/file?path=' + encodeURIComponent(localPath);\n        }\n      } catch (e) {}\n    }\n  }\n  const idx = parseInt(sourceKey.replace('source_', '')) - 1;\n  const url = (inputData.sourceUrls || [])[idx];\n  if (!url) throw new Error('Cannot resolve image URL for ' + sourceKey);\n  return url;\n}\n\nconst baseImageUrl = resolveImageUrl(data, plan.baseImage);\nconst referenceImageUrl = resolveImageUrl(data, plan.referenceImage);\n\nfunction callGeometry(body) {\n  return new Promise((resolve, reject) => {\n    const bodyStr = JSON.stringify(body);\n    const req = http.request({\n      hostname: '127.0.0.1',\n      port: 3000,\n      path: '/api/geometry/eye-transfer',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(bodyStr)\n      },\n      timeout: 120000\n    }, (res) => {\n      let resData = '';\n      res.on('data', chunk => resData += chunk);\n      res.on('end', () => {\n        try {\n          resolve({ status: res.statusCode, body: JSON.parse(resData) });\n        } catch(e) {\n          reject(new Error('Invalid geometry response: ' + resData.substring(0, 200)));\n        }\n      });\n      res.on('error', reject);\n    });\n    req.on('error', (e) => {\n      if (e.code === 'ECONNREFUSED') {\n        reject(new Error('Executor server not running. Start it with: cd executor && npm start'));\n      } else {\n        reject(e);\n      }\n    });\n    req.on('timeout', () => { req.destroy(); reject(new Error('Geometry timeout (2 min)')); });\n    req.write(bodyStr);\n    req.end();\n  });\n}\n\nconst result = await callGeometry({\n  baseImageUrl: baseImageUrl,\n  referenceImageUrl: referenceImageUrl,\n  targetFaceHint: plan.targetFaceHint || 'largest',\n  referenceFaceHint: plan.referenceFaceHint || 'largest',\n  requestId: data.requestId || data.postId || 'unknown'\n});\n\nif (!result.body) throw new Error('GEOMETRY FAILED: Empty response body');\nif (!result.body.success) throw new Error('GEOMETRY FAILED: ' + (result.body.error || 'success=false'));\n\n// =============================================\n// COMPATIBILITY: Handle both response formats\n// New format: result.body.features (per-eye array)\n// Old format: result.body.eyeGeometry (merged band)\n// =============================================\nlet features;\nlet blinkHeuristic = result.body.blinkHeuristic || null;\nlet geometryConfidence = result.body.confidence;\n\nif (Array.isArray(result.body.features) && result.body.features.length >= 2) {\n  // New per-eye format \u2014 use directly\n  features = result.body.features;\n  console.log('GEOMETRY: Using per-eye features format (' + features.length + ' features)');\n} else if (result.body.eyeGeometry) {\n  // Old merged format \u2014 convert to per-eye features\n  // Split the merged eye band into approximate left/right halves\n  console.log('GEOMETRY: Converting old merged eyeGeometry to per-eye format');\n  const eg = result.body.eyeGeometry;\n  const transform = eg.transform || { translateX: 0, translateY: 0, rotation: 0, scale: 1.0 };\n  const featherRadius = eg.featherRadius || 2;\n  const conf = eg.confidence || 1.0;\n  geometryConfidence = conf;\n\n  // For the old merged format, both eyes share the same transform\n  // and path. We use the full merged path for both primitives\n  // since we can't reliably split it without landmark data.\n  // The executor will apply each as a separate layer.\n  features = [\n    {\n      name: 'left_eye',\n      source: {\n        rawPoints: eg.source.rawPoints || eg.source.pathPoints,\n        pathPoints: eg.source.pathPoints,\n        boundingBox: eg.source.boundingBox\n      },\n      target: {\n        rawPoints: eg.target.rawPoints || eg.target.pathPoints,\n        pathPoints: eg.target.pathPoints,\n        boundingBox: eg.target.boundingBox\n      },\n      placementTransform: transform,\n      recommendedBlend: { opacity: 100, featherRadius: featherRadius > 5 ? 2 : featherRadius }\n    },\n    {\n      name: 'right_eye',\n      source: {\n        rawPoints: eg.source.rawPoints || eg.source.pathPoints,\n        pathPoints: eg.source.pathPoints,\n        boundingBox: eg.source.boundingBox\n      },\n      target: {\n        rawPoints: eg.target.rawPoints || eg.target.pathPoints,\n        pathPoints: eg.target.pathPoints,\n        boundingBox: eg.target.boundingBox\n      },\n      placementTransform: transform,\n      recommendedBlend: { opacity: 100, featherRadius: featherRadius > 5 ? 2 : featherRadius }\n    }\n  ];\n  console.log('GEOMETRY: WARN \u2014 using merged eye band as fallback. Update mediapipe-geometry.html for proper per-eye split.');\n} else {\n  throw new Error('GEOMETRY FAILED: Response has neither features array nor eyeGeometry object. Keys: ' + Object.keys(result.body).join(', '));\n}\n\n// Log per-eye details\nfor (const feat of features) {\n  const t = feat.placementTransform || {};\n  console.log('GEOMETRY ' + feat.name + ':'\n    + ' srcPts=' + (feat.source.pathPoints ? feat.source.pathPoints.length : 0)\n    + ' tgtPts=' + (feat.target.pathPoints ? feat.target.pathPoints.length : 0)\n    + ' srcBox=' + JSON.stringify(feat.source.boundingBox || {})\n    + ' tgtBox=' + JSON.stringify(feat.target.boundingBox || {})\n    + ' scale=' + (t.scale || 'n/a') + ' rot=' + (t.rotation !== undefined ? (Math.round(t.rotation * 180 / Math.PI * 10) / 10) + 'deg' : 'n/a')\n    + ' tx=' + (t.translateX || 0) + ' ty=' + (t.translateY || 0)\n    + (t._refinement ? ' refined=' + t._refinement.initError + '->' + t._refinement.finalError + ' profile=' + (t._refinement.weightProfile || 'unknown') + ' slitAware=' + (t._refinement.slitAware || false) + ' anchors=' + JSON.stringify(t._refinement.finalAnchors) : ''));\n  // Log slit target if available\n  if (feat._slitTarget) {\n    const s = feat._slitTarget;\n    console.log('  SLIT_TARGET ' + feat.name + ': squinting=' + s.isSquinting + ' blend=' + s.squintBlend + ' angle=' + s.slitAngle + ' aperture=' + s.slitAperture + ' L=' + JSON.stringify(s.slitLeft) + ' R=' + JSON.stringify(s.slitRight) + ' C=' + JSON.stringify(s.slitCenter));\n  }\n}\n\n// Log blink heuristic if available\nif (blinkHeuristic) {\n  console.log('BLINK_HEURISTIC: baseEAR=' + blinkHeuristic.baseEAR + ' refEAR=' + blinkHeuristic.refEAR\n    + ' baseMoreClosed=' + blinkHeuristic.baseMoreClosed\n    + (blinkHeuristic.perEye ? ' perEye=' + JSON.stringify(blinkHeuristic.perEye) : ''));\n}\n\nconsole.log('GEOMETRY: confidence=' + (geometryConfidence || 'n/a')\n  + ' baseFaces=' + (result.body.detections ? result.body.detections.baseFaces : 'n/a')\n  + ' refFaces=' + (result.body.detections ? result.body.detections.referenceFaces : 'n/a'));\n\nreturn [{ json: {\n  ...data,\n  baseImageUrl,\n  referenceImageUrl,\n  geometryFeatures: features,\n  blinkHeuristic: blinkHeuristic,\n  geometryConfidence: geometryConfidence,\n  previewData: result.body.previewData || {},\n  geometryMeta: {\n    imageMeta: result.body.imageMeta || {},\n    detections: result.body.detections || {}\n  }\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -112
      ],
      "id": "e5f6a7b8-c9d0-1234-abcd-555555555555",
      "name": "Build Primitive Geometry",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// GEOMETRY VALIDATOR \u2014 Validates per-eye MediaPipe\n// output (left_eye + right_eye features)\n// =============================================\nconst data = $input.first().json;\nconst errors = [];\n\nconst features = data.geometryFeatures;\nif (!Array.isArray(features) || features.length < 2) {\n  errors.push('geometryFeatures must contain at least 2 features (left_eye, right_eye)');\n}\n\n// Check we have exactly left_eye and right_eye\nconst featureNames = (features || []).map(f => f.name);\nif (!featureNames.includes('left_eye')) {\n  errors.push('Missing required feature: left_eye');\n}\nif (!featureNames.includes('right_eye')) {\n  errors.push('Missing required feature: right_eye');\n}\n\n// Validate each feature\nif (Array.isArray(features)) {\n  for (let i = 0; i < features.length; i++) {\n    const f = features[i];\n    const prefix = 'features[' + i + '] (' + (f.name || '?') + ')';\n\n    // Source pathPoints\n    if (!f.source || !Array.isArray(f.source.pathPoints) || f.source.pathPoints.length < 3) {\n      errors.push(prefix + '.source.pathPoints must have >= 3 points');\n    } else {\n      const pt0 = f.source.pathPoints[0];\n      if (!Array.isArray(pt0) || pt0.length !== 2 || typeof pt0[0] !== 'number') {\n        errors.push(prefix + '.source.pathPoints[0] must be [x, y]');\n      }\n    }\n\n    // Target pathPoints\n    if (!f.target || !Array.isArray(f.target.pathPoints) || f.target.pathPoints.length < 3) {\n      errors.push(prefix + '.target.pathPoints must have >= 3 points');\n    } else {\n      const pt0 = f.target.pathPoints[0];\n      if (!Array.isArray(pt0) || pt0.length !== 2 || typeof pt0[0] !== 'number') {\n        errors.push(prefix + '.target.pathPoints[0] must be [x, y]');\n      }\n    }\n\n    // Bounding boxes\n    if (f.source && f.source.boundingBox) {\n      if (!f.source.boundingBox.width || f.source.boundingBox.width <= 0) errors.push(prefix + '.source.boundingBox.width must be > 0');\n      if (!f.source.boundingBox.height || f.source.boundingBox.height <= 0) errors.push(prefix + '.source.boundingBox.height must be > 0');\n    } else if (f.source) {\n      errors.push(prefix + '.source.boundingBox is missing');\n    }\n    if (f.target && f.target.boundingBox) {\n      if (!f.target.boundingBox.width || f.target.boundingBox.width <= 0) errors.push(prefix + '.target.boundingBox.width must be > 0');\n      if (!f.target.boundingBox.height || f.target.boundingBox.height <= 0) errors.push(prefix + '.target.boundingBox.height must be > 0');\n    } else if (f.target) {\n      errors.push(prefix + '.target.boundingBox is missing');\n    }\n\n    // Transform sanity\n    if (!f.placementTransform) {\n      errors.push(prefix + '.placementTransform is missing');\n    } else {\n      const t = f.placementTransform;\n      for (const k of ['translateX', 'translateY', 'rotation', 'scale']) {\n        if (typeof t[k] !== 'number' || !Number.isFinite(t[k])) {\n          errors.push(prefix + '.placementTransform.' + k + ' must be a finite number');\n        }\n      }\n      if (typeof t.scale === 'number' && (t.scale < 0.5 || t.scale > 2.0)) {\n        errors.push(prefix + '.placementTransform.scale out of range (0.5-2.0): ' + t.scale);\n      }\n      if (typeof t.rotation === 'number' && Math.abs(t.rotation) > 0.5236) {\n        errors.push(prefix + '.placementTransform.rotation too large (>30deg)');\n      }\n    }\n  }\n}\n\n// Overall confidence\nif (typeof data.geometryConfidence === 'number' && data.geometryConfidence < 0.3) {\n  errors.push('Geometry confidence too low: ' + data.geometryConfidence + ' (min 0.3)');\n}\n\n// Blink heuristic sanity check: if baseMoreClosed is false, the base might already\n// have open eyes and the reference has closed eyes \u2014 warn but don't fail\nif (data.blinkHeuristic && data.blinkHeuristic.baseMoreClosed === false) {\n  console.log('BLINK_WARN: Base image eyes appear MORE open than reference. '\n    + 'baseEAR=' + data.blinkHeuristic.baseEAR + ' refEAR=' + data.blinkHeuristic.refEAR\n    + '. Assignment source=' + (data.validatedPlan && data.validatedPlan.assignmentSource || 'unknown'));\n  // If text explicitly said first/second, trust text. If from Brain only, flag it.\n  if (data.validatedPlan && data.validatedPlan.assignmentSource === 'brain') {\n    errors.push('BLINK CONFLICT: Base eyes appear more open than reference eyes (baseEAR='\n      + data.blinkHeuristic.baseEAR + ' refEAR=' + data.blinkHeuristic.refEAR\n      + '). Brain-only assignment may be wrong. Fail closed.');\n  }\n}\n\n// Detection counts\nconst det = data.geometryMeta && data.geometryMeta.detections;\nif (det) {\n  if (!det.baseFaces || det.baseFaces < 1) errors.push('No faces detected in base image');\n  if (!det.referenceFaces || det.referenceFaces < 1) errors.push('No faces detected in reference image');\n}\n\nif (errors.length > 0) {\n  throw new Error('GEOMETRY VALIDATION FAILED:\\n' + errors.join('\\n'));\n}\n\nreturn [{ json: {\n  ...data,\n  geometryValidated: true\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -112
      ],
      "id": "f6a7b8c9-d0e1-2345-bcde-666666666666",
      "name": "Geometry Validator",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// GENERATE PREVIEW \u2014 Calls /api/preview-regions\n// with per-eye geometry data for visual debugging\n// =============================================\nconst http = require('http');\n\nconst data = $input.first().json;\n\nfunction callPreview(body) {\n  return new Promise((resolve, reject) => {\n    const bodyStr = JSON.stringify(body);\n    const req = http.request({\n      hostname: '127.0.0.1',\n      port: 3000,\n      path: '/api/preview-regions',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(bodyStr)\n      },\n      timeout: 30000\n    }, (res) => {\n      let resData = '';\n      res.on('data', chunk => resData += chunk);\n      res.on('end', () => {\n        try {\n          resolve({ status: res.statusCode, body: JSON.parse(resData) });\n        } catch(e) {\n          resolve({ status: res.statusCode, body: { success: false, error: 'Invalid response' } });\n        }\n      });\n      res.on('error', reject);\n    });\n    req.on('error', reject);\n    req.on('timeout', () => { req.destroy(); reject(new Error('Preview timeout')); });\n    req.write(bodyStr);\n    req.end();\n  });\n}\n\nconst pd = data.previewData || {};\nconst features = data.geometryFeatures || [];\n\n// Build per-eye patch boxes from features\nconst leftFeat = features.find(f => f.name === 'left_eye');\nconst rightFeat = features.find(f => f.name === 'right_eye');\n\nlet previewResult = null;\ntry {\n  const result = await callPreview({\n    baseImageUrl: data.baseImageUrl,\n    referenceImageUrl: data.referenceImageUrl,\n    geometryData: {\n      allBaseFaces: pd.allBaseFaces || [],\n      allRefFaces: pd.allRefFaces || [],\n      selectedBaseFaceIdx: pd.selectedBaseFaceIdx,\n      selectedRefFaceIdx: pd.selectedRefFaceIdx,\n      baseLeftEyeLandmarks: pd.baseLeftEyeLandmarks || [],\n      baseRightEyeLandmarks: pd.baseRightEyeLandmarks || [],\n      refLeftEyeLandmarks: pd.refLeftEyeLandmarks || [],\n      refRightEyeLandmarks: pd.refRightEyeLandmarks || [],\n      leftEyeTargetBox: leftFeat ? leftFeat.target.boundingBox : null,\n      leftEyeSourceBox: leftFeat ? leftFeat.source.boundingBox : null,\n      rightEyeTargetBox: rightFeat ? rightFeat.target.boundingBox : null,\n      rightEyeSourceBox: rightFeat ? rightFeat.source.boundingBox : null,\n      leftTransform: leftFeat ? leftFeat.placementTransform : null,\n      rightTransform: rightFeat ? rightFeat.placementTransform : null,\n      baseFaceMesh: pd.baseFaceMesh || null,\n      refFaceMesh: pd.refFaceMesh || null,\n      basePose: pd.basePose || null,\n      refPose: pd.refPose || null\n    },\n    saveTo: data.requestDir || null\n  });\n  if (result.body.success) {\n    previewResult = {\n      basePreviewPath: result.body.basePreviewPath || null,\n      referencePreviewPath: result.body.referencePreviewPath || null\n    };\n    console.log('PREVIEW: base=' + (previewResult.basePreviewPath || 'n/a') + ' ref=' + (previewResult.referencePreviewPath || 'n/a'));\n  } else {\n    console.log('PREVIEW: failed \u2014 ' + (result.body.error || 'unknown'));\n  }\n} catch(e) {\n  console.log('PREVIEW: error \u2014 ' + e.message);\n}\n\nreturn [{ json: {\n  ...data,\n  previewResult\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -112
      ],
      "id": "a1b2c3d4-prev-iew0-node-777777777777",
      "name": "Generate Preview"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// PAYLOAD PREP \u2014 Build feature_transfer executor\n// payload with separate left_eye + right_eye\n// primitives from MediaPipe geometry output.\n// =============================================\nconst data = $input.first().json;\nconst plan = data.validatedPlan;\nconst features = data.geometryFeatures;\nconst confidence = data.geometryConfidence || 1.0;\n\nconsole.log('MVP_PATH: Using MediaPipe per-eye geometry \u2192 feature_transfer');\n\n// Build one selectionPrimitive per eye feature\nconst selectionPrimitives = features.map(feat => {\n  const blend = feat.recommendedBlend || { opacity: 100, featherRadius: 2 };\n\n  console.log('BLEND_POLICY: feature=' + feat.name\n    + ' opacity=' + blend.opacity\n    + ' feather=' + blend.featherRadius\n    + ' fitMode=similarity maskMode=none'\n    + ' scale=' + feat.placementTransform.scale\n    + ' rot=' + (Math.round(feat.placementTransform.rotation * 180 / Math.PI * 10) / 10) + 'deg'\n    + ' confidence=' + confidence);\n\n  return {\n    type: 'polygon_path',\n    label: feat.name,\n    source: { points: feat.source.pathPoints },\n    target: { points: feat.target.pathPoints },\n    placementTransform: feat.placementTransform,\n    fitMode: 'similarity',\n    maskMode: 'none',\n    blend: {\n      opacity: blend.opacity,\n      featherRadius: blend.featherRadius\n    }\n  };\n});\n\nconst executorPayload = {\n  requestId: data.requestId || data.postId || 'unknown',\n  baseImageUrl: data.baseImageUrl,\n  referenceImageUrl: data.referenceImageUrl,\n  photopeaOp: 'feature_transfer',\n  selectionPrimitives: selectionPrimitives,\n  exportFormat: plan.exportFormat || 'png'\n};\n\nconsole.log('PAYLOAD: primitives=' + selectionPrimitives.length\n  + ' features=' + selectionPrimitives.map(p => p.label).join(','));\n\nreturn [{ json: {\n  ...data,\n  executorPayload\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        -112
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-222222222222",
      "name": "Payload Prep"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// EXECUTE FEATURE SWAP \u2014 Calls the local executor\n// which drives Photopea via Playwright using\n// polygon path selections + similarity transform\n// =============================================\nconst http = require('http');\n\nconst data = $input.first().json;\nconst payload = data.executorPayload;\n\nfunction callExecutor(body) {\n  return new Promise((resolve, reject) => {\n    const bodyStr = JSON.stringify(body);\n    const req = http.request({\n      hostname: '127.0.0.1',\n      port: 3000,\n      path: '/api/feature-transfer',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(bodyStr)\n      },\n      timeout: 300000\n    }, (res) => {\n      let resData = '';\n      res.on('data', chunk => resData += chunk);\n      res.on('end', () => {\n        try {\n          resolve({ status: res.statusCode, body: JSON.parse(resData) });\n        } catch(e) {\n          reject(new Error('Invalid executor response: ' + resData.substring(0, 200)));\n        }\n      });\n      res.on('error', reject);\n    });\n    req.on('error', (e) => {\n      if (e.code === 'ECONNREFUSED') {\n        reject(new Error('Executor server not running. Start it with: cd executor && npm start'));\n      } else {\n        reject(e);\n      }\n    });\n    req.on('timeout', () => { req.destroy(); reject(new Error('Executor timeout (5 min)')); });\n    req.write(bodyStr);\n    req.end();\n  });\n}\n\nconst result = await callExecutor(payload);\n\nif (result.status !== 200 || !result.body.success) {\n  const errMsg = result.body.error || 'Unknown executor error';\n  const logs = (result.body.logs || []).join('; ');\n  throw new Error('EXECUTOR FAILED: ' + errMsg + ' | Logs: ' + logs);\n}\n\nreturn [{ json: {\n  ...data,\n  executorResult: {\n    imageBase64: result.body.imageBase64,\n    psdBase64: result.body.psdBase64,\n    logs: result.body.logs,\n    durationMs: result.body.durationMs\n  }\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -112
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-333333333333",
      "name": "Execute Feature Swap",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// SAVE OUTPUT \u2014 Write final image, optional PSD,\n// and structured execution log to disk\n// =============================================\nconst fs = require('fs');\nconst path = require('path');\n\nconst data = $input.first().json;\nconst result = data.executorResult;\nconst requestId = data.requestId || data.postId || 'unknown';\n\nconst outputDir = data.requestDir\n  ? path.join(data.requestDir, 'output')\n  : path.join('D:\\\\Reddit PS automation\\\\Final images');\n\nif (!fs.existsSync(outputDir)) fs.mkdirSync(outputDir, { recursive: true });\n\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst fmt = (data.executorPayload && data.executorPayload.exportFormat) || 'png';\n\nconst imagePath = path.join(outputDir, requestId + '-' + timestamp + '.' + fmt);\nfs.writeFileSync(imagePath, Buffer.from(result.imageBase64, 'base64'));\n\nconst outputFiles = { image: imagePath };\n\nif (result.psdBase64) {\n  const psdPath = path.join(outputDir, requestId + '-' + timestamp + '.psd');\n  fs.writeFileSync(psdPath, Buffer.from(result.psdBase64, 'base64'));\n  outputFiles.psd = psdPath;\n}\n\nconst plan = data.validatedPlan || {};\nconst features = data.geometryFeatures || [];\nconst logPath = path.join(outputDir, requestId + '-' + timestamp + '-log.json');\nconst structuredLog = {\n  requestId: requestId,\n  postId: data.postId,\n  title: data.title,\n  postUrl: data.postUrl,\n  operation: 'feature_transfer',\n  brainAnalysis: data.brainResponse ? data.brainResponse.requestAnalysis : null,\n  validatedPlan: plan,\n  assignmentSource: plan.assignmentSource || 'unknown',\n  blinkHeuristic: data.blinkHeuristic || null,\n  geometryConfidence: data.geometryConfidence || null,\n  features: features.map(f => ({\n    name: f.name,\n    sourceBbox: f.source.boundingBox,\n    targetBbox: f.target.boundingBox,\n    transform: f.placementTransform,\n    blend: f.recommendedBlend\n  })),\n  detections: data.geometryMeta ? data.geometryMeta.detections : null,\n  executorLogs: result.logs,\n  executorDurationMs: result.durationMs,\n  outputFiles: outputFiles,\n  previewResult: data.previewResult || null,\n  timestamp: new Date().toISOString()\n};\nfs.writeFileSync(logPath, JSON.stringify(structuredLog, null, 2));\n\nreturn [{ json: {\n  requestId: requestId,\n  success: true,\n  title: data.title,\n  operation: 'feature_transfer',\n  featureCount: features.length,\n  outputImagePath: imagePath,\n  outputPsdPath: outputFiles.psd || null,\n  outputLogPath: logPath,\n  executorLogs: result.logs,\n  durationMs: result.durationMs\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -112
      ],
      "id": "d4e5f6a7-b8c9-0123-defa-444444444444",
      "name": "Save Output"
    }
  ],
  "pinData": {},
  "connections": {
    "Paste URL": {
      "main": [
        [
          {
            "node": "Download & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download & Extract": {
      "main": [
        [
          {
            "node": "Create Request Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Request Folder": {
      "main": [
        [
          {
            "node": "Load Skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Skills": {
      "main": [
        [
          {
            "node": "Brain (Gemini 3.1 pro)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain (Gemini 3.1 pro)": {
      "main": [
        [
          {
            "node": "Plan Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Validator": {
      "main": [
        [
          {
            "node": "Build Primitive Geometry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Primitive Geometry": {
      "main": [
        [
          {
            "node": "Geometry Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geometry Validator": {
      "main": [
        [
          {
            "node": "Generate Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Preview": {
      "main": [
        [
          {
            "node": "Payload Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Prep": {
      "main": [
        [
          {
            "node": "Execute Feature Swap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Feature Swap": {
      "main": [
        [
          {
            "node": "Save Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9759b06a-4424-427f-b58a-a7fafb64eb97",
  "meta": {
    "instanceId": "3f0088b86feed34e50a894d46c9906aeed5853151cd581e2141481e3b4622116"
  },
  "id": "6Wgox0NSl9B22OPN",
  "tags": []
}