PS Request Fulfiller v12 Photopea MVP (in development).json
{
  "name": "PS Request Fulfiller v12 Photopea MVP (in development)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "PS Request Fulfiller v12",
        "formDescription": "Paste a Reddit PhotoshopRequest URL",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Reddit URL",
              "placeholder": "https://www.reddit.com/r/PhotoshopRequest/comments/...",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        16,
        -112
      ],
      "id": "3c162004-7b0e-4442-9de7-c2b22eb2a068",
      "name": "Paste URL",
      "webhookId": "320578aa-8d0e-47ba-a6ca-ac4e02207a12"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst http = require('http');\nconst fs = require('fs');\nconst path = require('path');\nconst crypto = require('crypto');\n\nconst redditUrl = $input.first().json['Reddit URL'];\nconst sourceDir = 'D:\\\\Reddit PS automation\\\\Source images';\n\nif (!fs.existsSync(sourceDir)) fs.mkdirSync(sourceDir, { recursive: true });\n\nfunction httpGet(url, headers = {}) {\n  return new Promise((resolve, reject) => {\n    const mod = url.startsWith('https') ? https : http;\n    const opts = {\n      headers: { 'User-Agent': 'n8n-ps-fulfiller/2.0', ...headers },\n      timeout: 30000\n    };\n    mod.get(url, opts, (res) => {\n      if ([301,302,303,307,308].includes(res.statusCode)) {\n        return httpGet(res.headers.location, headers).then(resolve).catch(reject);\n      }\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => resolve({ status: res.statusCode, data: Buffer.concat(chunks), headers: res.headers }));\n      res.on('error', reject);\n    }).on('error', reject).on('timeout', () => reject(new Error('Timeout')));\n  });\n}\n\nfunction uploadToCatbox(buffer, format) {\n  return new Promise((resolve, reject) => {\n    const boundary = '----CatboxBoundary' + crypto.randomBytes(8).toString('hex');\n    const ext = format || 'png';\n    const mime = ext === 'jpg' || ext === 'jpeg' ? 'image/jpeg' : ext === 'webp' ? 'image/webp' : 'image/png';\n    const header = `--${boundary}\\r\\nContent-Disposition: form-data; name=\"reqtype\"\\r\\n\\r\\nfileupload\\r\\n` +\n      `--${boundary}\\r\\nContent-Disposition: form-data; name=\"time\"\\r\\n\\r\\n1h\\r\\n` +\n      `--${boundary}\\r\\nContent-Disposition: form-data; name=\"fileToUpload\"; filename=\"source.${ext}\"\\r\\nContent-Type: ${mime}\\r\\n\\r\\n`;\n    const footer = `\\r\\n--${boundary}--\\r\\n`;\n    const headerBuf = Buffer.from(header);\n    const footerBuf = Buffer.from(footer);\n    const body = Buffer.concat([headerBuf, buffer, footerBuf]);\n    const req = https.request({\n      hostname: 'litterbox.catbox.moe',\n      path: '/resources/internals/api.php',\n      method: 'POST',\n      headers: {\n        'Content-Type': `multipart/form-data; boundary=${boundary}`,\n        'Content-Length': body.length\n      },\n      timeout: 60000\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const url = Buffer.concat(chunks).toString().trim();\n        if (url.startsWith('https://')) { resolve(url); }\n        else { reject(new Error('Catbox upload failed: ' + url.slice(0, 200))); }\n      });\n      res.on('error', reject);\n    });\n    req.on('error', reject);\n    req.on('timeout', () => { req.destroy(); reject(new Error('Catbox upload timeout')); });\n    req.write(body);\n    req.end();\n  });\n}\n\nlet postId = '';\nconst match = redditUrl.match(/comments\\/([a-z0-9]+)/i);\nif (match) postId = match[1];\nif (!postId) throw new Error('Cannot extract post ID from URL: ' + redditUrl);\n\nconst jsonUrl = `https://www.reddit.com/r/PhotoshopRequest/comments/${postId}.json`;\nconst jsonResp = await httpGet(jsonUrl);\nconst jsonText = jsonResp.data.toString();\n\nif (jsonText.startsWith('<!') || jsonText.startsWith('<html')) {\n  throw new Error('Reddit returned HTML instead of JSON. Wait 30s and retry. URL: ' + jsonUrl);\n}\n\nconst redditData = JSON.parse(jsonText);\nconst post = redditData[0].data.children[0].data;\n\nconst title = post.title || '';\nconst bodyText = post.selftext || '';\nconst flair = post.link_flair_text || '';\nconst datePosted = new Date(post.created_utc * 1000).toISOString();\n\nlet price = '';\nconst priceMatch = (title + ' ' + bodyText).match(/\\$\\s*(\\d+(?:\\.\\d{2})?)/)\n  || (title + ' ' + bodyText).match(/(\\d+)\\s*(?:USD|usd|dollars?|\\u20ac|euros?|\\u00a3|pounds?)/i);\nif (priceMatch) price = '$' + priceMatch[1];\n\nlet imageUrls = [];\n\nif (post.gallery_data && post.media_metadata) {\n  const items = post.gallery_data.items || [];\n  for (const item of items) {\n    const mediaId = item.media_id;\n    const meta = post.media_metadata[mediaId];\n    if (meta && meta.s) {\n      let url = meta.s.u || meta.s.gif || '';\n      url = url.replace(/&amp;/g, '&');\n      url = url.replace(/preview\\.redd\\.it/, 'i.redd.it').split('?')[0];\n      if (url) imageUrls.push(url);\n    }\n  }\n}\n\nif (imageUrls.length === 0 && post.url) {\n  let url = post.url;\n  if (url.match(/\\.(jpg|jpeg|png|gif|webp)/i)) {\n    url = url.replace(/preview\\.redd\\.it/, 'i.redd.it').split('?')[0];\n    imageUrls.push(url);\n  }\n}\n\nif (imageUrls.length === 0 && post.preview && post.preview.images) {\n  for (const img of post.preview.images) {\n    let url = (img.source && img.source.url) || '';\n    url = url.replace(/&amp;/g, '&').replace(/preview\\.redd\\.it/, 'i.redd.it').split('?')[0];\n    if (url) imageUrls.push(url);\n  }\n}\n\nif (imageUrls.length === 0) {\n  throw new Error('NO IMAGES FOUND in post: ' + title);\n}\n\nconst uid = crypto.randomBytes(3).toString('hex');\nconst savedFiles = [];\nconst publicUrls = [];\nlet origWidth = 0, origHeight = 0;\nconst allImageMeta = [];\n\nfor (let i = 0; i < imageUrls.length; i++) {\n  try {\n    const resp = await httpGet(imageUrls[i], { 'Accept': 'image/png,image/*' });\n    if (resp.data.length < 1000) continue;\n    const ext = imageUrls[i].match(/\\.(jpg|jpeg|png|gif|webp)/i);\n    const extension = ext ? ext[1] : 'jpg';\n    const filename = `${postId}_${uid}_${i+1}.${extension}`;\n    const filepath = path.join(sourceDir, filename);\n    fs.writeFileSync(filepath, resp.data);\n    savedFiles.push(filename);\n    // Upload saved image to catbox so we have a reliable public URL\n    // (i.redd.it URLs can become inaccessible later)\n    try {\n      const catboxUrl = await uploadToCatbox(resp.data, extension);\n      publicUrls.push(catboxUrl);\n    } catch(e) {\n      // Fallback to original URL if catbox upload fails\n      publicUrls.push(imageUrls[i]);\n    }\n    // Capture dimensions for EVERY source image, not just the first\n    try {\n      const sharp = require('sharp');\n      const meta = await sharp(resp.data).metadata();\n      const w = meta.width || 0;\n      const h = meta.height || 0;\n      allImageMeta.push({ index: i + 1, width: w, height: h, sourceKey: 'source_' + (i + 1) });\n      if (i === 0) { origWidth = w; origHeight = h; }\n    } catch(e) {\n      allImageMeta.push({ index: i + 1, width: 0, height: 0, sourceKey: 'source_' + (i + 1) });\n    }\n  } catch(e) { /* image download failed, skip this image */ }\n}\n\nif (savedFiles.length === 0) {\n  throw new Error('ALL IMAGE DOWNLOADS FAILED for post: ' + title);\n}\n\nreturn [{\n  json: {\n    postId, title, bodyText, flair, price, datePosted,\n    imageCount: imageUrls.length,\n    sourceFiles: savedFiles.join(', '),\n    sourceUrls: publicUrls,\n    originalRedditUrls: imageUrls,\n    postUrl: `https://www.reddit.com/r/PhotoshopRequest/comments/${postId}/`,\n    origWidth, origHeight,\n    allImageMeta,\n    startTime: Date.now(),\n    requestId: postId + '_' + Date.now().toString(36) + '_' + Math.random().toString(36).substring(2, 6),\n    dateCollected: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -112
      ],
      "id": "2f862ecd-d112-4915-96c0-5d6750bb800c",
      "name": "Download & Extract",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst postData = $input.first().json;\nconst requestDir = path.join('D:\\\\Reddit PS automation\\\\requests', postData.requestId || postData.postId);\nconst intermediateDir = path.join(requestDir, 'intermediate');\nconst referencesDir = path.join(requestDir, 'references');\n\nif (!fs.existsSync(requestDir)) fs.mkdirSync(requestDir, { recursive: true });\nif (!fs.existsSync(intermediateDir)) fs.mkdirSync(intermediateDir, { recursive: true });\nif (!fs.existsSync(referencesDir)) fs.mkdirSync(referencesDir, { recursive: true });\n\nfs.writeFileSync(path.join(requestDir, 'request.json'), JSON.stringify({\n  requestId: postData.requestId,\n  postId: postData.postId,\n  title: postData.title,\n  bodyText: postData.bodyText,\n  flair: postData.flair,\n  price: postData.price,\n  postUrl: postData.postUrl,\n  datePosted: postData.datePosted,\n  imageCount: postData.imageCount,\n  sourceUrls: postData.sourceUrls,\n  dateCollected: postData.dateCollected\n}, null, 2));\n\nconst sourceDir = 'D:\\\\Reddit PS automation\\\\Source images';\nconst savedFiles = postData.sourceFiles.split(', ');\nfor (let i = 0; i < savedFiles.length; i++) {\n  try {\n    const srcPath = path.join(sourceDir, savedFiles[i]);\n    if (fs.existsSync(srcPath)) {\n      const ext = path.extname(savedFiles[i]);\n      fs.copyFileSync(srcPath, path.join(requestDir, `source_${i + 1}${ext}`));\n    }\n  } catch(e) { /* non-blocking: source file copy failed for \" + savedFiles[i] + \": \" + e.message */ }\n}\n\nreturn [{ json: { ...postData, requestDir } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -112
      ],
      "id": "45649a26-754b-452a-adfc-4f97a839cde3",
      "name": "Create Request Folder"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst postData = $input.first().json;\nconst warnings = [];\n\nlet masterSkill = '';\nlet categorySkill = '';\n\ntry {\n  masterSkill = fs.readFileSync('D:\\\\Reddit PS automation\\\\n8n-assets\\\\skills\\\\photoshop_editing.md', 'utf8');\n} catch(e) {\n  warnings.push('WARN: Master skill file not found: ' + e.message);\n}\n\nconst text = ((postData.title || '') + ' ' + (postData.bodyText || '')).toLowerCase();\nlet detectedCategory = 'general';\n// Priority: face/body/feature edits FIRST (even if 'swap' or 'combine' also appears)\nif (/fix.*eye|open.*eye|close.*eye|blink|fix.*face|close.*mouth|smile|expression|body.*fix|eyebrow|open her eye|open his eye|fix.*blink/.test(text)) detectedCategory = 'face_body_fix';\nelse if (/remove|delete|get rid|take out|erase|unwanted/.test(text)) detectedCategory = 'removal';\nelse if (/restore|old photo|damaged|torn|colorize|color this|faded/.test(text)) detectedCategory = 'restoration';\nelse if (/combine|swap|head swap|face swap|put .* into|composite|merge/.test(text)) detectedCategory = 'combine_swap';\nelse if (/background|change.*back|replace.*back|new.*back/.test(text)) detectedCategory = 'background';\nelse if (/color|lighting|bright|contrast|tone|hue|saturat|exposure|white.?balance/.test(text)) detectedCategory = 'color_adjust';\nelse if (/text|font|logo|writing|caption|words|letter|sign/.test(text)) detectedCategory = 'text_logo';\nelse if (/meme|cartoon|style|fun|creative|anime|painting|draw|sketch/.test(text)) detectedCategory = 'creative';\n\ntry {\n  categorySkill = fs.readFileSync(`D:\\\\Reddit PS automation\\\\n8n-assets\\\\skills\\\\categories\\\\${detectedCategory}.md`, 'utf8');\n} catch(e) {\n  // Try direct-file fallbacks for critical categories\n  const fallbacks = { 'combine_swap': 'combine_swap.md', 'face_body_fix': 'face_body_fix.md' };\n  const fallbackFile = fallbacks[detectedCategory];\n  if (fallbackFile) {\n    try {\n      categorySkill = fs.readFileSync('D:\\\\Reddit PS automation\\\\n8n-assets\\\\skills\\\\categories\\\\' + fallbackFile, 'utf8');\n      warnings.push('INFO: Category skill loaded via direct fallback: ' + fallbackFile);\n    } catch(e2) {\n      warnings.push('WARN: Category skill (' + detectedCategory + ') not found at primary or fallback path: ' + e2.message);\n    }\n  } else {\n    warnings.push('WARN: Category skill (' + detectedCategory + ') not found: ' + e.message);\n  }\n}\n\nlet memoryContext = '';\ntry {\n  const memory = JSON.parse(fs.readFileSync('D:\\\\Reddit PS automation\\\\n8n-assets\\\\memory.json', 'utf8'));\n  const catMemKey = detectedCategory === 'combine_swap' ? 'combine' :\n                     detectedCategory === 'face_body_fix' ? 'face_fix' :\n                     detectedCategory === 'text_logo' ? 'text_change' : detectedCategory;\n  const catMem = memory[catMemKey] || '';\n  const genMem = memory['general'] || '';\n  memoryContext = [catMem, genMem].filter(Boolean).join('\\n');\n} catch(e) {\n  warnings.push('WARN: Memory file not loaded: ' + e.message);\n}\n\nconst skillStatus = {\n  masterLoaded: !!masterSkill,\n  categoryLoaded: !!categorySkill,\n  detectedCategory,\n  memoryLoaded: !!memoryContext,\n  warnings\n};\n\nreturn [{ json: {\n  ...postData,\n  skillContext: masterSkill + (categorySkill ? '\\n\\n## CATEGORY-SPECIFIC SKILL\\n' + categorySkill : ''),\n  memoryContext,\n  detectedCategory,\n  skillStatus\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -112
      ],
      "id": "52f96955-6c60-488e-9b4a-5bac25d361fd",
      "name": "Load Skills"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\n// =============================================\n// API KEY — TODO: ROTATE EXPOSED KEY\n// n8n free tier: must hardcode (no $env support)\n// n8n paid tier: replace with $env.KIEAI_API_KEY\n// This key MUST be rotated if repo is public.\n// =============================================\nconst KIE_API_KEY = 'b284a8f22d39549cf2844eeef2aaee2d'; // TODO: ROTATE\n\nconst postData = $('Download & Extract').item.json;\nconst skillData = $('Load Skills').item.json;\n\nconst imageContent = postData.sourceUrls.map((url, i) => ({\n  type: 'image_url',\n  image_url: { url: url }\n}));\n\n// =============================================\n// MVP BRAIN PROMPT — feature_swap ONLY\n// This Brain is scoped ONLY to supported Photopea\n// MVP edits. It does NOT cover general\n// PhotoshopRequest operations.\n// =============================================\nlet systemPrompt = `You are the Brain of a Photopea-based photo editing MVP. Your ONLY job is to analyze Reddit r/PhotoshopRequest posts and determine if they can be fulfilled with the feature_swap operation.\n\nSUPPORTED SCOPE (v1 MVP):\n- Same-person, reference-based headshot fixes ONLY\n- Specifically: blink/eye corrections, small facial feature transfers between photos of the SAME person\n- Example: use open eyes from photo 2 to fix blinking eyes in photo 1\n- REQUIRES: 2+ images of the same person with different expressions/features\n\nUNSUPPORTED — set supported=false with skipReason:\n- Single image requests (no reference available)\n- Different-person face swaps\n- Object removal, background changes, creative edits\n- Text changes, color corrections, restorations\n- Anything requiring AI generation (Nano Banana Edit)\n- Video/GIF requests\n- Full face replacement (use feature_swap for partial features only)\n\nWHAT feature_swap DOES:\nExtracts a specific facial feature region (eyes, mouth, eyebrows) from a REFERENCE image and blends it onto the corresponding region in the BASE image using a feathered elliptical mask in Photopea. No AI generation — real pixel transfer only.\n\nYOUR ANALYSIS:\n1. Are there 2+ images of the SAME person? If not → unsupported\n2. Does one image have a fixable facial feature (closed/blinking eyes, wrong expression) and another have the desired version? If not → unsupported\n3. Which image is BASE (has the problem) and which is REFERENCE (has the fix)?\n4. Where exactly are the feature regions in each image? Estimate pixel bounding boxes.\n\nFEATURE REGION GUIDELINES:\n- For eyes/blink fix: select a horizontal band covering both eyes, from temple to temple\n  - Top: just above eyebrows (~20% down from top of face bounding box)\n  - Bottom: just below eyes (~55% down from top of face bounding box)\n  - Width: full face width (temple to temple)\n- For mouth/smile: select a band covering the mouth area\n  - Top: just above upper lip\n  - Bottom: below chin line\n  - Width: cheek to cheek\n- Add ~15% padding around the feature for blending context\n- featherRadius: 10-15 for eyes, 12-18 for mouth\n- All coordinates are in PIXELS relative to the image dimensions provided\n\nCOORDINATE RULES:\n- srcX/srcY/srcWidth/srcHeight = bounding box of the feature in the REFERENCE image\n- tgtX/tgtY/tgtWidth/tgtHeight = bounding box of the feature in the BASE image\n- For same-framing photos (typical for blink fix): src and tgt coordinates should be identical or very close\n- If the photos have different framing: estimate the offset between corresponding features\n\nOutput ONLY valid JSON matching this schema:\n{\n  \"requestAnalysis\": {\n    \"category\": \"feature_swap\",\n    \"supported\": true,\n    \"skipReason\": null,\n    \"difficulty\": \"simple\",\n    \"imageCount\": 2,\n    \"baseImageIndex\": 0,\n    \"referenceImageIndex\": 1,\n    \"featureType\": \"eyes\"\n  },\n  \"plan\": {\n    \"baseImage\": \"source_1\",\n    \"referenceImage\": \"source_2\",\n    \"photopeaOp\": \"feature_swap\",\n    \"featureRegions\": [\n      {\n        \"label\": \"eyes\",\n        \"srcX\": 150, \"srcY\": 200, \"srcWidth\": 300, \"srcHeight\": 120,\n        \"tgtX\": 150, \"tgtY\": 200, \"tgtWidth\": 300, \"tgtHeight\": 120\n      }\n    ],\n    \"featherRadius\": 12,\n    \"exportFormat\": \"png\"\n  },\n  \"outputNotes\": \"Swap open eyes from source_2 onto blinking eyes in source_1\"\n}\n\nFor UNSUPPORTED requests:\n{\n  \"requestAnalysis\": {\n    \"category\": \"unsupported\",\n    \"supported\": false,\n    \"skipReason\": \"Clear reason why this is out of MVP scope\",\n    \"difficulty\": null,\n    \"imageCount\": 1,\n    \"baseImageIndex\": null,\n    \"referenceImageIndex\": null,\n    \"featureType\": null\n  },\n  \"plan\": null,\n  \"outputNotes\": null\n}\n\nNo markdown, no explanation, no preamble. ONLY the JSON.`;\n\nconst userMessage = `POST TITLE: ${postData.title}\n\nPOST BODY: ${postData.bodyText || '(no body text)'}\n\nFLAIR: ${postData.flair || 'none'}\nPRICE: ${postData.price || 'none'}\nIMAGE COUNT: ${postData.imageCount}\nORIGINAL RESOLUTION: ${postData.origWidth}x${postData.origHeight}\nALL IMAGE DIMENSIONS: ${JSON.stringify(postData.allImageMeta || [])}\n\nAnalyze the images and request. If this is a same-person feature fix with a reference image, create a feature_swap plan with precise pixel coordinates. If not, mark as unsupported. Output ONLY JSON.`;\n\nconst requestBody = JSON.stringify({\n  messages: [\n    { role: 'developer', content: [{ type: 'text', text: systemPrompt }] },\n    { role: 'user', content: [\n      { type: 'text', text: userMessage },\n      ...imageContent\n    ]}\n  ],\n  stream: true,\n  include_thoughts: false,\n  reasoning_effort: 'high'\n});\n\nfunction callGemini(body) {\n  return new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'api.kie.ai',\n      path: '/gemini-3.1-pro/v1/chat/completions',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Authorization': 'Bearer ' + KIE_API_KEY,\n        'Content-Length': Buffer.byteLength(body)\n      },\n      timeout: 180000\n    }, (res) => {\n      let data = '';\n      res.on('data', chunk => data += chunk);\n      res.on('end', () => resolve({ status: res.statusCode, body: data }));\n      res.on('error', reject);\n    });\n    req.on('error', reject);\n    req.on('timeout', () => { req.destroy(); reject(new Error('Gemini timeout')); });\n    req.write(body);\n    req.end();\n  });\n}\n\nlet response;\ntry {\n  response = await callGemini(requestBody);\n} catch(e1) {\n  await new Promise(r => setTimeout(r, 3000));\n  response = await callGemini(requestBody);\n}\n\n// Parse streaming response: data: lines with delta.content\nlet content = '';\nlet apiDebug = 'HTTP ' + response.status;\ntry {\n  const lines = response.body.split('\\n').filter(l => l.startsWith('data:'));\n  apiDebug += ' | chunks=' + lines.length;\n  for (const line of lines) {\n    const json = line.replace(/^data:\\s*/, '').trim();\n    if (json === '[DONE]') continue;\n    try {\n      const parsed = JSON.parse(json);\n      const delta = parsed.choices?.[0]?.delta;\n      if (delta && delta.content) content += delta.content;\n      if (parsed.credits_consumed !== undefined) apiDebug += ' | credits=' + parsed.credits_consumed;\n    } catch(e) {}\n  }\n  apiDebug += ' | content_len=' + content.length;\n  if (!content) {\n    apiDebug += ' | NO_CONTENT | raw_start=' + response.body.substring(0, 300);\n  }\n} catch(e) {\n  apiDebug += ' | PARSE_ERROR: ' + e.message;\n  content = response.body;\n}\n\n// Extract JSON from Brain response\nlet brainResponse;\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    brainResponse = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found in Brain response');\n  }\n} catch(e) {\n  const errDetail = 'FAIL-CLOSED: ' + e.message + ' | apiDebug=' + apiDebug + ' | start=' + content.substring(0, 200);\n  throw new Error(errDetail.substring(0, 300));\n}\n\n// Validate basic structure\nif (!brainResponse.requestAnalysis) {\n  throw new Error('FAIL-CLOSED: Brain response missing requestAnalysis');\n}\n\n// If Brain says unsupported, pass through as skipped (not an error)\nif (brainResponse.requestAnalysis.supported === false) {\n  return [{ json: {\n    ...postData,\n    brainResponse,\n    skipped: true,\n    skipReason: brainResponse.requestAnalysis.skipReason || 'Outside MVP scope',\n    debug: apiDebug\n  }}];\n}\n\n// Supported request — validate plan exists\nif (!brainResponse.plan) {\n  throw new Error('FAIL-CLOSED: Brain returned supported=true but no plan object');\n}\n\nreturn [{ json: {\n  ...postData,\n  brainResponse,\n  skipped: false,\n  debug: apiDebug\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -112
      ],
      "id": "702a7b4f-308f-4104-a308-3598a827a834",
      "name": "Brain (Gemini 3.1 pro)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// PLAN VALIDATOR — Strict MVP gate\n// Only feature_swap passes. Everything else fails closed.\n// =============================================\nconst data = $input.first().json;\n\n// If Brain already marked as skipped, fail closed\nif (data.skipped) {\n  throw new Error('REQUEST UNSUPPORTED: ' + (data.skipReason || 'Outside MVP scope'));\n}\n\nconst brain = data.brainResponse;\nif (!brain || !brain.plan) {\n  throw new Error('FAIL-CLOSED: No plan in Brain output');\n}\n\nconst plan = brain.plan;\nconst errors = [];\n\n// RULE 1: Only feature_swap is allowed in MVP\nif (plan.photopeaOp !== 'feature_swap') {\n  errors.push('Only feature_swap is supported in MVP. Got: ' + plan.photopeaOp);\n}\n\n// RULE 2: baseImage and referenceImage must be valid source references\nif (!plan.baseImage || !/^source_\\d+$/.test(plan.baseImage)) {\n  errors.push('baseImage must be \"source_N\" format. Got: ' + plan.baseImage);\n}\nif (!plan.referenceImage || !/^source_\\d+$/.test(plan.referenceImage)) {\n  errors.push('referenceImage must be \"source_N\" format. Got: ' + plan.referenceImage);\n}\nif (plan.baseImage && plan.referenceImage && plan.baseImage === plan.referenceImage) {\n  errors.push('baseImage and referenceImage must be different');\n}\n\n// RULE 3: featureRegions must exist and have valid coordinates\nif (!Array.isArray(plan.featureRegions) || plan.featureRegions.length === 0) {\n  errors.push('featureRegions must be a non-empty array');\n} else {\n  for (let i = 0; i < plan.featureRegions.length; i++) {\n    const r = plan.featureRegions[i];\n    for (const k of ['srcX', 'srcY', 'srcWidth', 'srcHeight']) {\n      if (typeof r[k] !== 'number' || r[k] < 0) {\n        errors.push('featureRegions[' + i + '].' + k + ' must be a non-negative number');\n      }\n    }\n    if (r.srcWidth <= 0 || r.srcHeight <= 0) {\n      errors.push('featureRegions[' + i + '] has zero-size source region');\n    }\n  }\n}\n\n// RULE 4: featherRadius must be reasonable\nconst fr = plan.featherRadius;\nif (fr !== undefined && fr !== null) {\n  if (typeof fr !== 'number' || fr < 0 || fr > 50) {\n    errors.push('featherRadius must be 0-50. Got: ' + fr);\n  }\n}\n\n// RULE 5: Validate image indices exist\nconst sourceUrls = data.sourceUrls || [];\nif (plan.baseImage) {\n  const idx = parseInt(plan.baseImage.replace('source_', '')) - 1;\n  if (idx < 0 || idx >= sourceUrls.length) {\n    errors.push('baseImage ' + plan.baseImage + ' does not exist (have ' + sourceUrls.length + ' images)');\n  }\n}\nif (plan.referenceImage) {\n  const idx = parseInt(plan.referenceImage.replace('source_', '')) - 1;\n  if (idx < 0 || idx >= sourceUrls.length) {\n    errors.push('referenceImage ' + plan.referenceImage + ' does not exist (have ' + sourceUrls.length + ' images)');\n  }\n}\n\n// FAIL CLOSED on any validation error\nif (errors.length > 0) {\n  throw new Error('PLAN VALIDATION FAILED:\\n' + errors.join('\\n'));\n}\n\nreturn [{ json: {\n  ...data,\n  validatedPlan: plan\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -112
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-111111111111",
      "name": "Plan Validator",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// PAYLOAD PREP — Transform validated plan into\n// executor contract payload\n// =============================================\nconst data = $input.first().json;\nconst plan = data.validatedPlan;\nconst sourceUrls = data.sourceUrls || [];\n\n// Resolve image URLs from source indices\nconst baseIdx = parseInt(plan.baseImage.replace('source_', '')) - 1;\nconst refIdx = parseInt(plan.referenceImage.replace('source_', '')) - 1;\n\nconst baseImageUrl = sourceUrls[baseIdx];\nconst referenceImageUrl = sourceUrls[refIdx];\n\nif (!baseImageUrl) {\n  throw new Error('Cannot resolve base image URL for ' + plan.baseImage);\n}\nif (!referenceImageUrl) {\n  throw new Error('Cannot resolve reference image URL for ' + plan.referenceImage);\n}\n\n// Build executor payload matching the contract\nconst executorPayload = {\n  baseImageUrl: baseImageUrl,\n  referenceImageUrl: referenceImageUrl,\n  photopeaOp: 'feature_swap',\n  featureRegions: plan.featureRegions.map(r => ({\n    label: r.label || 'feature',\n    srcX: r.srcX,\n    srcY: r.srcY,\n    srcWidth: r.srcWidth,\n    srcHeight: r.srcHeight,\n    tgtX: r.tgtX !== undefined ? r.tgtX : r.srcX,\n    tgtY: r.tgtY !== undefined ? r.tgtY : r.srcY,\n    tgtWidth: r.tgtWidth !== undefined ? r.tgtWidth : r.srcWidth,\n    tgtHeight: r.tgtHeight !== undefined ? r.tgtHeight : r.srcHeight\n  })),\n  featherRadius: plan.featherRadius || 12,\n  exportFormat: plan.exportFormat || 'png'\n};\n\nreturn [{ json: {\n  ...data,\n  executorPayload\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -112
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-222222222222",
      "name": "Payload Prep"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// EXECUTE FEATURE SWAP — Calls the local executor\n// server which drives Photopea via Playwright\n// =============================================\nconst http = require('http');\n\nconst data = $input.first().json;\nconst payload = data.executorPayload;\n\nconst EXECUTOR_HOST = '127.0.0.1';\nconst EXECUTOR_PORT = 3000;\n\nfunction callExecutor(body) {\n  return new Promise((resolve, reject) => {\n    const bodyStr = JSON.stringify(body);\n    const req = http.request({\n      hostname: EXECUTOR_HOST,\n      port: EXECUTOR_PORT,\n      path: '/api/feature-swap',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(bodyStr)\n      },\n      timeout: 300000\n    }, (res) => {\n      let data = '';\n      res.on('data', chunk => data += chunk);\n      res.on('end', () => {\n        try {\n          resolve({ status: res.statusCode, body: JSON.parse(data) });\n        } catch(e) {\n          reject(new Error('Invalid executor response: ' + data.substring(0, 200)));\n        }\n      });\n      res.on('error', reject);\n    });\n    req.on('error', (e) => {\n      if (e.code === 'ECONNREFUSED') {\n        reject(new Error('Executor server not running. Start it with: cd executor && npm start'));\n      } else {\n        reject(e);\n      }\n    });\n    req.on('timeout', () => { req.destroy(); reject(new Error('Executor timeout (5 min)')); });\n    req.write(bodyStr);\n    req.end();\n  });\n}\n\nconst result = await callExecutor(payload);\n\nif (result.status !== 200 || !result.body.success) {\n  const errMsg = result.body.error || 'Unknown executor error';\n  const logs = (result.body.logs || []).join('; ');\n  throw new Error('EXECUTOR FAILED: ' + errMsg + ' | Logs: ' + logs);\n}\n\nreturn [{ json: {\n  ...data,\n  executorResult: {\n    imageBase64: result.body.imageBase64,\n    psdBase64: result.body.psdBase64,\n    logs: result.body.logs,\n    durationMs: result.body.durationMs\n  }\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -112
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-333333333333",
      "name": "Execute Feature Swap",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// SAVE OUTPUT — Write final image, PSD, and\n// structured execution log to disk\n// =============================================\nconst fs = require('fs');\nconst path = require('path');\n\nconst data = $input.first().json;\nconst result = data.executorResult;\nconst requestId = data.requestId || data.postId || 'unknown';\n\n// Output directory: prefer request folder, fallback to global\nconst outputDir = data.requestDir\n  ? path.join(data.requestDir, 'output')\n  : path.join('D:\\\\Reddit PS automation\\\\Final images');\n\nif (!fs.existsSync(outputDir)) fs.mkdirSync(outputDir, { recursive: true });\n\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst fmt = data.executorPayload.exportFormat || 'png';\n\n// Save final edited image\nconst imagePath = path.join(outputDir, requestId + '-' + timestamp + '.' + fmt);\nfs.writeFileSync(imagePath, Buffer.from(result.imageBase64, 'base64'));\n\n// Save PSD with layers\nconst psdPath = path.join(outputDir, requestId + '-' + timestamp + '.psd');\nfs.writeFileSync(psdPath, Buffer.from(result.psdBase64, 'base64'));\n\n// Save structured execution log\nconst logPath = path.join(outputDir, requestId + '-' + timestamp + '-log.json');\nconst structuredLog = {\n  requestId: requestId,\n  postId: data.postId,\n  title: data.title,\n  postUrl: data.postUrl,\n  operation: 'feature_swap',\n  brainAnalysis: data.brainResponse ? data.brainResponse.requestAnalysis : null,\n  validatedPlan: data.validatedPlan,\n  executorPayload: data.executorPayload,\n  executorLogs: result.logs,\n  executorDurationMs: result.durationMs,\n  outputFiles: {\n    image: imagePath,\n    psd: psdPath\n  },\n  timestamp: new Date().toISOString()\n};\nfs.writeFileSync(logPath, JSON.stringify(structuredLog, null, 2));\n\nreturn [{ json: {\n  requestId: requestId,\n  success: true,\n  title: data.title,\n  operation: 'feature_swap',\n  outputImagePath: imagePath,\n  outputPsdPath: psdPath,\n  outputLogPath: logPath,\n  executorLogs: result.logs,\n  durationMs: result.durationMs\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -112
      ],
      "id": "d4e5f6a7-b8c9-0123-defa-444444444444",
      "name": "Save Output"
    }
  ],
  "pinData": {},
  "connections": {
    "Paste URL": {
      "main": [
        [
          {
            "node": "Download & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download & Extract": {
      "main": [
        [
          {
            "node": "Create Request Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Request Folder": {
      "main": [
        [
          {
            "node": "Load Skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Skills": {
      "main": [
        [
          {
            "node": "Brain (Gemini 3.1 pro)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain (Gemini 3.1 pro)": {
      "main": [
        [
          {
            "node": "Plan Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Validator": {
      "main": [
        [
          {
            "node": "Payload Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Prep": {
      "main": [
        [
          {
            "node": "Execute Feature Swap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Feature Swap": {
      "main": [
        [
          {
            "node": "Save Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9759b06a-4424-427f-b58a-a7fafb64eb97",
  "meta": {
    "instanceId": "3f0088b86feed34e50a894d46c9906aeed5853151cd581e2141481e3b4622116"
  },
  "id": "6Wgox0NSl9B22OPN",
  "tags": []
}
